[2012-03-09 20:14] funkaoshi opened #1 "Clientside JS should be in actual modules."
Our client side javascript should be wrapped in anonymous functions and all of that jazz. We want to avoid splatting global variables all over the place, etc.

[2012-03-10 03:52] #1 closed, assigned to funkaoshi

[2012-04-23 16:52] funkaoshi opened #3 "Hover Timestamps"
I'm not completely sure what this means. Houssam should fill this out.

[2012-04-23 16:52] funkaoshi opened #4 "Avatars"
We should have pretty circular avatars ala Demiba or Path.

[2012-04-23 16:53] funkaoshi opened #5 "We should support multiple rooms."
A user should be able to create a chat room.

[2012-04-23 17:04] funkaoshi opened #6 "Add transcripts"

[2012-04-23 17:05] funkaoshi opened #7 "Emoticons / Emojicons"
It'd be nice to turn certain keywords into emoticons or emojicons. (Or would it?)

[2012-04-23 17:05] funkaoshi opened #8 "Edit User Profile"
Users should have profiles they can update and edit.

[2012-04-23 17:06] funkaoshi opened #9 "Users should be able to reset their own passwords."

[2012-04-23 17:06] funkaoshi opened #10 "Lets Chat Bro should run over HTTPS."

[2012-05-08 00:07] emily-bain opened #11 "Backbonify all of the chat page"
We need some backbone on the chat page. It'll give a bit of organization to things for later changes.

[2012-05-22 19:17] hhaidar opened #12 "Fix profile button first/last name"
I don't think many people are named "Houssam Haidar"

[2012-05-22 19:17] hhaidar opened #13 "Fix image/URL parsing"

[2012-05-22 19:19] hhaidar opened #14 "Remove sign in events"
They're sort of annoying.

Maybe we should have an elective mode where you can choose to see them. Or better yet, maybe this would work better in the userlist.

[2012-05-22 19:20] hhaidar opened #15 "Move message data-id and timestamp to message fragment"
When a new message block is created, the child fragment should have these fields not the actual message.

[2012-05-22 19:20] hhaidar opened #16 "Users should be able to change email and password"

[2012-05-22 19:21] hhaidar opened #17 "Check for duplicate emails on registration"

[2012-05-22 19:21] hhaidar opened #18 "Add file uploads"

[2012-05-22 19:39] hhaidar opened #19 "Reconnecting should sync the client properly"
Messages, users, and rooms should all appear automagically as if you haven't disconnected.

[2012-05-22 23:33] hhaidar opened #20 "Loosen first/last name restrictions"
It should be any character. Why not :D

[2012-05-22 23:37] #20 closed, assigned to hhaidar

[2012-05-22 23:37] #14 closed, assigned to hhaidar

[2012-05-22 23:37] #13 closed, assigned to hhaidar

[2012-05-22 23:47] #12 closed, assigned to hhaidar

[2012-05-23 03:10] #3 closed, assigned to hhaidar

[2012-05-23 21:29] #15 closed, assigned to hhaidar

[2012-05-27 04:58] hhaidar opened #21 "Require login for all urls"

[2012-05-27 23:16] #17 closed, assigned to hhaidar

[2012-05-28 00:26] hhaidar opened #22 "Distinguish a users own messages"

[2012-05-28 01:06] #18 closed, assigned to hhaidar

[2012-05-28 01:06] #22 closed, assigned to nobody

[2012-09-07 01:10] #11 closed, assigned to hhaidar

[2012-09-07 01:10] #5 closed, assigned to hhaidar

[2012-09-07 01:12] hhaidar opened #24 "Add timestamps for messages"
It would be nice to have them on hover or something

[2012-09-07 01:13] geoffwhittington opened #25 "Incorporate the number of unread messages in the browser title"
I love being able to scan my browser tabs and see that I have an unread message in campfire - can we steal that feature?

[2012-09-07 01:13] hhaidar opened #26 "Rooms should be editable/deletable"

[2012-09-07 01:13] hhaidar opened #27 "Add room notifications and badges"

[2012-09-07 01:34] hhaidar opened #28 "Prevent duplicates in userlists"
Userlists function on a per connection basis rather than per user at the moment. We should fix that in the view.

[2012-09-07 01:38] hhaidar opened #29 "Add last message date to rooms in roomlist"

[2012-09-07 02:04] hhaidar opened #30 "Fix XSS"
Seriously, what the hell is this.

[2012-09-07 03:51] #30 closed, assigned to nobody

[2012-09-11 04:37] #27 closed, assigned to nobody

[2012-09-11 05:14] #24 closed, assigned to nobody

[2012-09-11 05:14] #25 closed, assigned to nobody

[2012-09-11 15:17] hhaidar opened #31 "Make timestamps not say "Today""
http://momentjs.com/docs/#/customization/calendar/

[2012-09-12 14:37] #31 closed, assigned to nobody

[2012-09-12 14:55] funkaoshi opened #32 "Allow for verbatim formated messages."
Campfire has a feature where pressing 'CMD-ENTER' when sending a message will display the message as verbatim text (code). We should have a similar feature in LCB.

[2012-09-19 17:44] hhaidar opened #33 "We need some kind of access control"
Maybe something like user classes (admin, user, none) and/or domain specific invites (@sde email addresses).

[2012-09-19 17:48] ehsanf opened #34 "As a firefox user, I would like to be able to use LCB in my FF"

[2012-09-20 01:36] Veyastar opened #35 "Add Emoticons!"
I like to expose my feelings sometimes by using Emoticons.

[2012-09-20 01:42] Veyastar opened #36 "Drag and drop images from computer desktop should upload them"
Dropping and dropping files, in particular image types, from folders/directories into room's note box should automatically upload them!

[2012-09-20 01:47] Veyastar opened #37 "Browser tab unread-message number not reset after visit"
The browser tab gracefully displays the number of unread messages.
But, when it is visited the number is not reset. It still shows the last number until new unread messages produced.

[2012-09-20 01:53] Veyastar opened #38 "A symbol or highlight if I am addressed in the room"
It's very very nice to have a symbol or highlight the browser tab and its taskbar when someone addresses me in LCB. So, I know that I should immediately visit the room!

[2012-09-20 01:56] Veyastar opened #39 "Where is search"
I do not see search.
Search is needed.

[2012-09-20 02:02] Veyastar opened #40 "Tag messages for further followup and review"
It is good to be able to tag messages.
this way, which could be a kind of reminder, I can later list only the tagged messages for followup, review ...

[2012-09-20 04:04] #35 closed, assigned to hhaidar

[2012-09-20 16:53] hhaidar opened #41 "Fix session expiry issue"
see last example: http://www.danielbaulig.de/socket-ioexpress/

[2012-09-20 23:56] #34 closed, assigned to nobody

[2012-09-21 00:04] #37 closed, assigned to nobody

[2012-09-21 03:18] #41 closed, assigned to nobody

[2012-09-21 12:15] aacuison opened #42 "Message indicating who has logged in/out"
It would be nice to know who has recently entered the room and vice versa :)

[2012-09-26 02:06] #26 closed, assigned to nobody

[2012-09-26 04:59] #19 closed, assigned to nobody

[2012-10-05 00:02] #32 closed, assigned to nobody

[2012-10-05 06:38] #10 closed, assigned to hhaidar

[2012-10-05 06:38] #7 closed, assigned to nobody

[2012-10-17 05:35] #16 closed, assigned to nobody

[2012-10-17 05:35] #21 closed, assigned to nobody

[2012-10-17 05:35] #28 closed, assigned to nobody

[2012-10-17 21:52] ehsanf opened #44 "Long uninterrupted lines break layout"
Copy paste this into LCB to see the bug:

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2012-10-24 15:25] geoffwhittington opened #45 "Integrate a scrollable/updating custom RSS feed under the listed users"
It would be useful to be able to keep an eye on information that a room is interested in : mashup feeds, news, lunch locations, etc.

In our development group we can show the outstanding issues in Trac.

[2012-11-09 05:14] #36 closed, assigned to hhaidar

[2012-11-16 06:04] #6 closed, assigned to nobody

[2012-11-30 03:07] #29 closed, assigned to nobody

[2012-11-30 20:13] geoffwhittington opened #46 "Document the LCB API so other programs can integrate with it"
It would be neat to be able to post messages via robots, build scripts, etc. Could you briefly document the API to post messages?

[2012-12-12 03:40] hhaidar opened #47 "Switch to passport.js"

[2013-01-02 17:48] #47 closed, assigned to nobody

[2013-01-02 17:49] #38 closed, assigned to nobody

[2013-02-04 17:09] hhaidar opened #48 "Fix ghost modal overlays"
Sometimes modal overlays persist and prevent click events in the entire page

[2013-02-15 18:59] #46 closed, assigned to nobody

[2013-04-21 02:43] #48 closed, assigned to nobody

[2013-05-10 15:23] emily-bain opened #49 "Messages sent very far apart should have separate timestamps"
Because currently any user message gets appended to the previous if the user is the same, it can be confusing telling when messages are sent much later but nobody has been chatting in the meantime. If it's been more than something like 5 minutes, it should get a separate message with its own timestamp.

[2013-05-10 15:43] #42 closed, assigned to nobody

[2013-06-04 17:28] hhaidar opened #50 "@complete sometimes stays open"

[2013-06-07 20:00] geoffwhittington opened #51 "Delay between characters while typing a message in Chrome"
On chrome I experience a noticeable delay as I type a message in a room

[2013-06-12 04:41] #51 closed, assigned to nobody

[2013-06-12 05:16] #49 closed, assigned to emily-bain

[2014-02-05 17:41] geoffwhittington opened #60 "Append .png to clipboard blobs"
When you paste an image from the clipboard into the message box - lets chat provides a link only. If it the suffix was ".png" the image would show automatically. At least thats how it works in Chrome.

Is it possible to just blindly add .png to "blob" i.e. "/blob.png" and things will just work?

[2014-03-10 19:49] geoffwhittington opened #61 "Be able to receive notifications without being in a room"
Currently a user needs to be in the room to get a message with the @person thing. Can we make it so that @person will go to person if there are logged into LCB anywhere, even if they're not in a room?

[2014-03-28 16:55] jonpincus opened #63 "No license information"
Is the code available under an open-source license, and if so which?  I couldn't find any information in the repo about this ... It would be great to mention it in the README and including a LICENSE.md.

[2014-03-28 19:08] #63 closed, assigned to nobody

[2014-03-29 03:06] plytro opened #64 "Install instructions are incorrect"
Install instructions reference https://github.com/sdelements/lcb.git not https://github.com/sdelements/lcb.git

[2014-03-29 03:07] #64 closed, assigned to nobody

[2014-03-31 10:56] benbull opened #65 "Support Deployment to Heroku"
Would be good to get this working on Heroku 'free'?

[2014-03-31 18:54] #65 closed, assigned to nobody

[2014-04-01 16:11] maxkueng opened #68 "Encrypted/OTR private chat between users"
Would be cool is 2 users could enter a private conversation that can only be viewed by those users. Ideally, it should also not be accessible by administrators.

[2014-04-02 05:23] yeltsin opened #69 "Languages"
Create a folder (and edit the code) to be able to translate the script to others languages.

[2014-04-02 12:07] niloy opened #70 "wrong shared image path"
I shared an image on the chat. While it appeared properly on my own computer, it broke on another machine because the image path started with 'localhost'.

[2014-04-02 17:03] aaryn101 opened #71 "Utilize user's timezone rather than the server timezone"
Timestamps in chat are dependent on the server timezone.

[2014-04-02 20:51] aaryn101 opened #72 "How to delete media?"
How do I remove uploaded media?

[2014-04-02 20:55] #72 closed, assigned to nobody

[2014-04-03 17:41] PewienTyp opened #73 "PHP"
Hello please make "Let's Chat" for php and mysql

[2014-04-03 18:20] #73 closed, assigned to nobody

[2014-04-04 14:24] PewienTyp opened #74 "New Room"
Please make link for new room e.g localhost:5000/ajax/new_room

[2014-04-06 01:36] tlongren opened #76 "Improvements for Heroku in 0.3"
Make deployment to Heroku a bit easier, maybe just through cleaned up documentation. Would make deployment for those of us who don't use Heroku much a LOT easier to understand.

[2014-04-06 10:27] tomsteele opened #77 "User account hijacking"
https://github.com/sdelements/lets-chat/blob/master/app/server.js#L352-L355 needs to check if that email is being used by another user prior to saving. Otherwise you can steal anyones account provided they were created after you. Could make email a unique index with mongoose.

[2014-04-06 16:03] #77 closed, assigned to nobody

[2014-04-07 18:53] #71 closed, assigned to emily-bain

[2014-04-08 12:26] klugjohannes opened #78 "Make it possible to mount lets-chat under a subpath on server"
We want to deploy this in our intranet under a subdirecty (e.g. internal.acme.com/chat) behind nginx. Unfortunately the code seems to be littered with hard-coded url paths. Maybe I'm missing some important setting flag here, but this is rather inconvenient ;).

If this is wanted we can take some time to integrate and provide a patch for this feature. Some pointers on central places in the code mig

[2014-04-11 19:15] dja opened #79 "Markdown Support"
Has anyone added Markdown support to chats successfully? I'm trying it out and keep running into dead-ends.

[2014-04-25 09:59] bendicion opened #80 "User moderation, commands and permissions"
We would really like if you can please help us with these features or questions.

Implement user moderation by using commands like these by the chat admin or the chat moderator:
/mute (user) (#minutes)
/ban (user) (#days)
private message like /pm (user) (message)
/alert (message) and this alert would show in all rooms.
/close room (room name)
They don't necessarily have to be commands; they can al

[2014-05-07 20:36] emily-bain opened #81 "Add sound notification option for mentions"
Requested via email, adding option to have a sound play when messages are sent to you.

[2014-05-08 19:56] zwhitchcox opened #82 "lets-chat will not run on my machine"
node app.js

/Users/zanehitchcox/Desktop/lets-chat/node_modules/connect-mongo/lib/connect-mongo.js:153
          throw new Error('Error connecting to database');
                ^
Error: Error connecting to database
    at /Users/zanehitchcox/Desktop/lets-chat/node_modules/connect-mongo/lib/connect-mongo.js:153:17
    at /Users/zanehitchcox/Desktop/lets-chat/node_modules/connect-mongo/node_modules

[2014-05-13 13:18] geoffwhittington opened #83 "Running into periodic Error: EMFILE, open 'templates/chat.html'"
Seems that we hit a file descriptor limit from time to time. Upping the limit works for a bit and then we get it again.

Other node apps seems affected by the same sort of problem. Is node-graceful-fs a viable solution?

https://github.com/isaacs/node-graceful-fs

[2014-05-15 12:26] furier opened #84 "Users should be able to close embeded photos or videos"
Users should be able to close embedded photos or videos, like with irccloud where embedded/inline content can be dismissed if you don't want it to take up space in the chat. Or maybe minimize embedded content.

[2014-05-15 20:13] ghost opened #85 "Dockerfile"
Hi, I created a dockerfile for lets-chat. Here is repo url https://github.com/doganaydin/lets-chat-docker
Build is easy just read Dockerfile.

[2014-05-16 20:17] #85 closed, assigned to nobody

[2014-05-16 20:25] #8 closed, assigned to hhaidar

[2014-05-22 18:09] geoffwhittington opened #87 "The * and ' character is not supported in URL links"
The \* and ' characters seem to cause URL links to render prematurely.

http://some.where.out.there/is*aplace/forme

renders a clickable link of:

http://some.where.out.there/is

[edit: updated for ' ]

[2014-05-28 13:44] william20111 opened #88 "Web Hooks/POSTS/Notifcations/Emails from external services."
Sorry its a broad coverage there in title, but it would be great for any of these features in the future to be implemented. Allowing Nagios notifications to post something into the chat, or say failed builds from CI.

Thanks
William

[2014-07-02 11:31] lewiseason opened #95 "Infinite Scrolling on Chat History"
Possible feature request.
Would it be possible to implement this? Obviously sending more history to the browser in one go results in pretty bad user experience, so some sort of lazy loading would be required, but it'd be nice to be able to see more ~~gif~~ chat history.

Thanks.

[2014-07-17 09:26] TriDni opened #96 "Reverse proxy doesn't work"
I use nginx for this chat.

 location /chat/ {
                proxy_pass http://localhost:5000;
}

But http://mydomain.ltd/chat doesn't work

I get : Cannot GET /chat/

Someone knows how to configure reverse proxy for this great apps ?

[2014-07-23 12:17] #96 closed, assigned to nobody

[2014-07-24 13:10] TriDni opened #97 "Disable Registering"
Hello,

Is there any way to disable registration for unconnected users ?

[2014-07-28 09:12] #97 closed, assigned to nobody

[2014-07-31 12:31] TriDni opened #98 "Let's Chat disconnects unexpectedly"
I used that command to run my lets-chat

"node app.js &"

But sometimes (after several hours, daily) the chat server totally disconnected.

When I check with "ps ux | grep node", I found that no node process are running.

Have you some ideas to solve this problem ?

[2014-08-20 00:45] almereyda opened #99 "XMPP bot / bridge"
Maybe it would make sense to add an XMPP bot, so one could federate chatrooms between different interfaces (i.e. web on HD screen and XMPP via native mobile app)?

[2014-08-20 06:40] #98 closed, assigned to nobody

[2014-08-25 12:56] elliotslab opened #100 "Allow desktop notifications when windows in on focus"
Any way to have the notification even when that chat windows is on focus?

[2014-08-26 14:32] oinirio opened #101 "Clicking notifications should open up the Let's Chat room."
Any way to implement this

[2014-08-30 18:18] marcellosott2001 opened #102 "hi"

[2014-09-02 14:28] #102 closed, assigned to nobody

[2014-10-10 02:00] tvvocold opened #103 "is nginx ok with this?"
i have a digitalocean vps and i edit the setting.js to myip:80 then i need to add a A name to my domain,but how to ?is that ok i install the nginx then bind the name? or some easy way u cloud give? thx

[2014-10-10 02:39] tvvocold opened #104 "huge bug"
Anybody could create or delete Any room (plz add admin)

[2014-10-10 18:05] #104 closed, assigned to nobody

[2014-10-21 08:03] tvvocold opened #105 "is release/0.3.0 ok to use?"
when i try to use 0.3.0 , i use https://github.com/sdelements/lets-chat/blob/release/0.3.0/settings.js.sample
 and it wont work so i use
 https://github.com/sdelements/lets-chat/blob/master/settings.js.sample
could not works too(but works in master branch)

btw,i use openshift

[2014-10-27 15:53] sophatvathana opened #106 "Can't start app.js or npm start ..."
i have fail to start node app.js or npm start..it get
:/var/www/mynodeapp/lets-chat$ node app.js
module.js:338
    throw err;
          ^
Error: Cannot find module './settings.js'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/var/www/my

[2014-10-27 17:37] #105 closed, assigned to nobody

[2014-10-28 06:24] #106 closed, assigned to nobody

[2014-11-07 03:24] #45 closed, assigned to nobody

[2014-12-12 03:31] #83 closed, assigned to nobody

[2014-12-13 03:33] elliotslab opened #108 "It's possible to embed a current instance of LCB? if possible any how to"

[2014-12-17 15:08] Koka5 opened #110 "Is it possible to get lets-chat as small widget window over any website page."
for example, the way gmail chat is provided.
means every room should get a little widget window (which can be minimized or maximized)
on bottom right or bottom left.

so that user can do other other simultaneously, on the same page, while having chats.

[2014-12-18 17:32] #103 closed, assigned to nobody

[2014-12-18 21:38] #108 closed, assigned to nobody

[2014-12-19 05:30] geoffwhittington opened #115 "Firefox messages are wrapped too short"
See image attached - the message in FF doesn't expand to the whole area

![image](https://cloud.githubusercontent.com/assets/1770544/5500611/21eb9ef8-8716-11e4-8e73-5e1b58eb44a5.png)

[2014-12-23 02:20] elliotslab opened #120 "Deploy to heroku button on release/0.3.0 not working, missing app.json"
this is the error message I got on heroku when trying to use the deploy button `There was a problem with the app.json file found at "https://github.com/sdelements/lets-chat/tree/release/0.3.0":
No app.json located in the repo URL provided. Are you sure the URL is correct and that an app.json file exists in the project root directory?`

[2014-12-23 02:55] #120 closed, assigned to nobody

[2014-12-30 14:47] geoffwhittington opened #121 "Local user passwords share the same salt"
Currently the application uses a single salt for all users. Password salts should be per-user and not shared, to avoid rainbow table attacks.

[2014-12-31 01:29] #87 closed, assigned to nobody

[2014-12-31 01:48] #121 closed, assigned to nobody

[2014-12-31 01:49] #82 closed, assigned to nobody

[2014-12-31 06:06] #115 closed, assigned to hhaidar

[2015-01-01 14:40] tvvocold commented on #110
Hope u guys can make it Cooler  than irc / hangouts!

[2015-01-04 06:45] hhaidar commented on #81
I kinda want this :|

[2015-01-05 19:01] #50 closed

[2015-01-05 19:10] hhaidar commented on #74
Closing this as its a part of perms/access controls.

[2015-01-05 19:10] #74 closed

[2015-01-05 19:11] hhaidar commented on #70
This is going to be addressed in #89

[2015-01-05 19:11] #70 closed

[2015-01-05 19:16] hhaidar opened #123 "Better file uploads"
* Dragging the file into the window should pop open a file upload modal
* Copy/Paste should work too
* Model should contain filename that user can set
* User can choose whether to paste a link or not
* Any type of file should be allowed
* Max size and MIME can be specified in settings.yml

[2015-01-05 19:33] geoffwhittington opened #124 "Support Docker"
Create Docker file and test it for 0.3

[2015-01-05 19:38] geoffwhittington commented on #124
@doganaydin Can you help us with this?

I'm sure most of what is in master will work for 0.3. There is some new stuff we did to support XMPP that may impact things

[2015-01-07 05:46] sibartlett commented on #124
I've added a Dockerfile to the release/0.3.0 branch.

[2015-01-07 06:14] #124 closed

[2015-01-07 06:53] hhaidar commented on #124
Beast.

[2015-01-07 15:24] funkaoshi commented on #124
Nice. I'm going to check this out.

[2015-01-07 15:29] sibartlett commented on #124
I added basic instructions to the readme.

XMPP is not enabled by default - as it requires further configuration by the user/administrator.

[2015-01-09 03:11] geoffwhittington opened #126 "Enable message moves/references"
This is like some sort of advanced moderation capability.

Sometimes messages are sent to the wrong room and it would be nice to be able to move them to the right place. People too chatty or forgetful which room they're in? Move/forward the message.

This is useful to keep rooms on topic or to triage issues as they arise. For instance, consider if a build fails and it may be a server issue - messa

[2015-01-13 08:51] tvvocold opened #133 "Could IOS or android phone' browser open it?"
for online chat?

[2015-01-13 14:19] funkaoshi commented on #133
Yes. Though 0.3.0 has a better interface for doing so.

[2015-01-13 14:19] #133 closed

[2015-01-13 18:19] hhaidar opened #135 "Release 0.3.0: Fix rooms sync"
When you add a room it should appear :|

[2015-01-13 19:24] sibartlett opened #136 "View archived rooms"

[2015-01-13 19:24] sibartlett opened #137 "Unarchive rooms"

[2015-01-13 19:25] sibartlett opened #138 "Atwho: Search by screenName AND displayName"

[2015-01-13 19:25] sibartlett opened #139 "Atwho: Show a flag indicating if user is online and in current room"

[2015-01-13 19:28] sibartlett opened #140 "Display room slug in web interface"

[2015-01-13 19:39] sibartlett opened #141 "Add XMPP user documentation in web interface"

[2015-01-13 20:05] geoffwhittington opened #142 "Use https for gravatar"
When using LCB and https there are a number of browser warnings - complaining about http references to gravatar. Its probably good practice to use https for gravatar.

[2015-01-14 17:46] geoffwhittington opened #143 "Enable stronger local-auth password policies"
Local auth passwords are currently restricted to match `^.{8,64}$`.

Can we put this RE into the `settings.yml` file and allow people to enforce stronger passwords?

[2015-01-14 17:49] geoffwhittington opened #144 "Secure cross domain messaging in HTML5"
Check `event.origin` against the expected server and port.

[2015-01-14 21:05] geoffwhittington commented on #142
I think there are more references to gravatar?

[2015-01-14 21:16] sibartlett commented on #142
I searched the codebase, and they all use https.

[2015-01-15 10:32] geoffwhittington commented on #142
sweet, thanks!

[2015-01-15 12:26] geoffwhittington opened #148 "Authentication throttling is off by default"
Security settings in general should be turned on by default, with safe settings. Auth throttling is one of those settings turned off by default.

[2015-01-15 12:30] geoffwhittington commented on #148
I guess that `defaults.yml` have all the default settings. The challenge is that if I already have a `settings.yml` I don't seem to inherit the default throttling. Could this be cause my `auth` setting clobbers the default `auth` setting?

[2015-01-15 13:07] geoffwhittington commented on #148
Actually, it looks like the issue is that throttling is broken. the default and user settings seem to merge fine.

[2015-01-16 15:39] geoffwhittington commented on #148
It works in 0.3 branch now. Thanks @sibartlett

[2015-01-16 15:39] #148 closed

[2015-01-16 15:40] geoffwhittington commented on #144
We're not supporting cross domain messaging

[2015-01-16 15:40] #144 closed

[2015-01-16 15:41] geoffwhittington commented on #143
Done and in 0.3

[2015-01-16 15:41] #143 closed

[2015-01-16 15:41] #142 closed

[2015-01-16 15:44] geoffwhittington opened #153 "Support room widgets"
Might be useful for rooms to display content relevant to all users: RSS feeds, server statuses, bug tracker status, etc. Just an idea.

A mock-up is below using an iframe. This has security ramifications. To support iframes mean you'd need to whitelist servers, disable scripting on the frame, etc.

![lcb-widget](https://cloud.githubusercontent.com/assets/1770544/5778865/59881a50-9d6c-11e4-8565-bf8

[2015-01-16 19:00] geoffwhittington opened #154 "Add mute for chatty rooms"
Add a UI element so users can temporarily mute notifications on a per-room basis

[2015-01-16 23:08] sibartlett commented on #141
Have adde basic connection details (username/port).

[2015-01-16 23:08] #140 closed

[2015-01-16 23:08] #138 closed

[2015-01-17 12:21] geoffwhittington commented on #141
It would be good to add the multi user chat server name, too. conference.`server.name.com`. On Android Xabber I had to specify that.

I noticed the icon incorrectly matches the notifications modal, instead of the XMPP/Jabber one in the dropdown.

[2015-01-17 15:19] sibartlett commented on #141
I've fixed the icons, and expanding on the connection info. I also added a list of supported clients - which we can expand on.

[2015-01-18 03:32] geoffwhittington opened #158 "SSL parameters are undefined"
The https server setup doesn't explicitly define safe ciphers or protocols. This means LCB could be unknowingly deployed on systems still using SSLv3 or lower.

[2015-01-19 03:23] geoffwhittington opened #159 "Session id is not regenerated after successful login"
To mitigate session fixation attacks, the session id should be regenerated after a user logins

[2015-01-19 03:58] geoffwhittington opened #160 "Do sessions timeout after a certain amount of time?"
Its good practice to timeout idle sessions - I haven't determined whether this is implemented. Based on the code in 0.3 it doesn't appear to be the case

[2015-01-19 21:59] geoffwhittington opened #163 "Room user list can overflow available space"
The list of room users can overflow available space. A scrollbar is needed in certain cases

[2015-01-19 22:23] geoffwhittington opened #164 "Touch a face doesn't work on mobile"
When you double tap a face on a mobile you dont get the same behavior as if you double clicked with a mouse on a desktop

[2015-01-19 22:27] sibartlett opened #165 "Load emote JSON only once per window"

[2015-01-19 22:28] #141 closed

[2015-01-19 22:43] geoffwhittington commented on #163
Seems to be fine on mobile

[2015-01-19 22:48] sibartlett opened #166 "Disable accounts"

[2015-01-19 22:52] sibartlett opened #167 "Handle duplicate accounts in migration scripts"
Maybe search for bad data, and then refuse to run migrations until data integrity is fixed?

[2015-01-19 23:19] #165 closed

[2015-01-20 00:07] geoffwhittington commented on #160
@sibartlett showed me the implementation. It appears they do

[2015-01-20 00:07] #160 closed

[2015-01-20 02:09] geoffwhittington commented on #164
Seems like this isn't what we want to reproduce. double-tap could also be a zoom on a mobile.

Is it ok to trigger the poke event if we simply tap the face once? If so the fix is:

`'touchend .lcb-avatar': 'poke'`

[2015-01-20 02:38] geoffwhittington commented on #88
@sibartlett proved me wrong. We have API tokens in 0.3 for the endpoints.

[2015-01-20 02:54] hhaidar commented on #88
@sibartlett are we able to pass the token as a get/put/post parameter?

[2015-01-20 02:54] hhaidar commented on #167
Also uppercase uid, like in Delaney's case.

[2015-01-20 02:55] hhaidar commented on #166
For something like this, I was thinking a manage.js script with helpers.

[2015-01-20 02:58] geoffwhittington commented on #88
Looks like its a query parameter for any method ...

https://github.com/sdelements/lets-chat/blob/release/0.3.0/app/auth/index.js#L91

[2015-01-20 03:03] sibartlett commented on #88
@geoffwhittington that's only for websockets - we'd still have to make a change for other endpoints

[2015-01-20 03:04] #135 closed

[2015-01-20 04:17] geoffwhittington commented on #88
### Working sample

To send the message `hello there, this is a message` to a room called "test", given by the browser URL `http://localhost:5000/#!/room/54b86d184ff602080ef6d6d1` and having token `NTRiYzYz[... truncated ...]xYmE2MmJhYQ==`:

### Request

[code]

### Response

[code]

[2015-01-21 15:11] geoffwhittington opened #170 "Atwho: shows users who are not in a room"
The user list that pops up when you type `@` includes users who are not in the room. This is misleading since we don't have the ability yet to send messages to users who aren't in a room,

[2015-01-21 15:14] geoffwhittington commented on #170
@hhaidar - Simon tells me this is expected behavior?

[2015-01-21 15:22] geoffwhittington commented on #139
What is the value of this flag?

[2015-01-21 15:23] hhaidar commented on #170
Yea, it's nice to at people even if they're offline. We have another ticket open about showing online/offline status in the atwho plugin.

[2015-01-21 15:25] geoffwhittington commented on #163
Looks great !

[2015-01-21 15:25] #163 closed

[2015-01-21 15:26] sibartlett commented on #139
The current atwho was designed to show all registered users. The intention of the flag was to indicate which users in the atwho list are currently in the same room.

However, I think the idea of having two atwho options, @ and !, might be a nicer solution. The first only listing users currently in the room, and the second for all users.

[2015-01-22 19:20] #170 closed

[2015-01-22 19:21] #139 closed

[2015-01-22 19:21] sibartlett commented on #139
We now use @ for users currently in room, and @@ for all registered users.

[2015-01-22 19:21] sibartlett commented on #170
We now use @ for users currently in room, and @@ for all registered users.

[2015-01-22 19:37] sibartlett opened #171 "Getting "undefined" as the name of the room in notifications"
~~I think this happens when the room list hasn't yet loaded.~~

[2015-01-22 20:04] #171 closed

[2015-01-22 20:35] shawngustaw opened #172 "display/username changes not updated in messages UI"
When you update your display name or username, none of these changes are reflected in the messages UI.

[2015-01-22 20:36] hhaidar commented on #139
Someone needs to document this and all the other functions, preferably before we go into master.

[2015-01-22 21:52] geoffwhittington commented on #39
Search what, specifically?

[2015-01-22 21:55] geoffwhittington commented on #166
We could write a custom management hubot to only allows certain users access to its god-powers

[2015-01-23 17:39] geoffwhittington opened #174 "XMPP/Pidgin: Room user information is wrong"
When I retrieve more information about a room user in Pidgin, it shows me a dialog box with the target username but the Full name, Given name, Family name, and nickname are all mine.

[2015-01-23 20:27] hhaidar commented on #39
Transcript search.

[2015-01-23 20:34] geoffwhittington opened #176 "Track user recognition"
Listen for :+1: or `+1` in user mentions and add a :star: to the mentioned user

[2015-01-23 20:51] geoffwhittington commented on #176
This may help with building peer recognition - to create data that could be consumed in other, connected systems for further processing...

[2015-01-23 23:44] hhaidar opened #177 "Clean up JSON objects"
The client shouldn't be able to see fields like email, local, etc

[2015-01-24 01:57] sibartlett commented on #177
Fixed in 3c4acef291232c79e34de93c80d03b1c786668ea

[2015-01-24 01:57] #177 closed

[2015-01-25 00:03] geoffwhittington commented on #164
Fixed in 0.3

[2015-01-25 00:03] #164 closed

[2015-01-25 20:05] geoffwhittington opened #179 "Registering same user triggers server error"
The frontend doesn't tell a user if they have attempted to register a user which already exists

[2015-01-25 20:06] geoffwhittington opened #180 "Registration flow missing path to login screen"
After registering a user the message is to login, but there is no easy way of moving to the login screen

[2015-01-25 20:13] sibartlett commented on #179
We also have the same issue with users who try to login via ldap/kerberos when another user already has the same username or email.

[2015-01-26 05:09] hhaidar commented on #180
Fixed via #1699282414c7c

[2015-01-26 05:09] #180 closed

[2015-01-26 15:28] funkaoshi commented on #176
Cool idea, I like it.

[2015-01-26 15:43] TuxOtaku opened #182 "IRC-like slash commands"
might be nice to follow Slack's suit and include IRC-like slash commands (/me, /msg, /nick, etc.)

[2015-01-26 15:59] oinirio opened #183 "unable to create an user with the latest release 0.3.0"
After cloning:

`cp settings.yml.example settings.yml`

`grunt bower`

`grunt build`

`npm start`

and after going to [localhost:5000](http://localhost:5000) when click in "I need an account" nothing happens.

[2015-01-26 17:54] geoffwhittington commented on #179
This looks good @hhaidar It works for local, will it also work for ldap/kerberos?

[2015-01-26 17:58] geoffwhittington opened #184 "Local registration should prompt people to confirm chosen password"
People may enter a wrongly intended password during registration. The interface should add another field to confirm the chosen password.

[2015-01-26 18:01] geoffwhittington opened #185 "Create CasperJS tests and test with Travis CI"

[2015-01-26 18:19] hhaidar commented on #183
Yea the  bower file broken. Try doing ```git reset --hard``` and then ```npm start```

[2015-01-26 18:20] hhaidar commented on #182
+1

[2015-01-26 18:21] hhaidar commented on #179
Nope, the login method's 400 error sends back an ambiguous message right now

[2015-01-26 18:28] oinirio commented on #183
thanks it's working now

[2015-01-26 18:28] #183 closed

[2015-01-26 19:31] hhaidar commented on #183
Awesome, glad I could be of help!

[2015-01-27 19:00] TuxOtaku opened #186 "emoticon list"
would be nice to have a command/function or something like that which would list all available emoticons. I know we do some basic tab completion for this, but it's somewhat limited and it would be nice to see just a single legend-like page or something which would list them all at once.

[2015-01-27 20:05] sibartlett commented on #186
Here's a cheatsheet for all the non-custom emoticons: http://www.emoji-cheat-sheet.com/

[2015-01-27 21:56] TuxOtaku opened #187 "Zendesk goodies"
A feature to link automatically to zendesk issues by typing #<ticketnumber> just like in Github would be nice. Also, maybe something to post a message into the client support room as your user whenever you post a response or a note to a zendesk ticket.

[2015-01-28 19:07] oinirio opened #188 "anybody it's running LCB on linux mint"
I was running on a linux box (ubuntu 14.04) and vagrant (ubuntu 14.04) but when trying to run the release/0.3.0 on a new linux mint pc was impossible due to a build error in **node-krb5**

I try with the node on the repo `v0.10.26` and with `v0.10.35..36` from nvm

    npm ERR! node-krb5@0.0.5 install: `node-gyp rebuild`
    npm ERR! Exit status 1
    npm ERR!
    npm ERR! Failed at the node-krb5@

[2015-01-28 19:09] sibartlett opened #189 "Option to disable auto scrolling"

[2015-01-28 19:22] sibartlett commented on #188
You need the krb5-dev package installed.

Unfortunately I do not know Mint OS - so can not give much direction in how to go about it. Maybe it's available from the Mint's package manager?

[2015-01-28 19:39] sibartlett commented on #188
The package you require might be [krb5-multidev](http://community.linuxmint.com/software/view/krb5-multidev).

[2015-01-28 19:43] oinirio commented on #188
installing `libkrb5-dev` fix this

[2015-01-28 19:43] #188 closed

[2015-01-28 19:46] sibartlett commented on #188
Thanks for letting us know which package you used!

We'll update the documentation to include this dependency.

[2015-01-29 19:09] #174 closed

[2015-01-30 04:45] Cody-Duncan opened #191 "Option to Remove Login"
As a User, I want the ability to enter my name at the front page, without a sign-up process or password. As a chat server that is meant to be used by small teams, it's very useful in a localized environment. When I speak to people over chat, it's important that they know my name.

However, it has never been important for me to remember a password or have the server store my email address. Most of

[2015-01-30 15:25] #187 closed

[2015-01-31 00:49] sibartlett commented on #159
Fixed in 6cea1f88fc4651f7b618149bea06d8d9db89bb7b

[2015-01-31 00:49] #159 closed

[2015-02-03 05:07] geoffwhittington commented on #88
We started to update the wiki https://github.com/sdelements/lets-chat/wiki with some API details

[2015-02-04 04:08] geoffwhittington commented on #99
@almereyda Check out our wiki we've been adding to recently about XMPP:

https://github.com/sdelements/lets-chat/wiki

[2015-02-04 11:57] almereyda commented on #99
@geoffwhittington Thanks to your recent comment, I've revisited my use case and can specify it now by delivering the following links.

#### Foundational Readings

* [XEP-0114: Jabber Component Protocol](http://xmpp.org/extensions/xep-0114.html)
* [Comparison of IRC, XMPP and PSYC](http://about.psyc.eu/Comparison)
* some [Existing Chat Servers & Clients](https://github.com/AgileVentures/EduChat/wik

[2015-02-04 11:57] #99 closed

[2015-02-05 02:25] hanifvirani commented on #176
+1. I suggested the same thing. We could track user scores.

[2015-02-05 16:03] sibartlett opened #193 "Edit sent messages"
Would be nice to have the ability to correct typos.

This involves rewriting history though.

[2015-02-05 17:40] geoffwhittington commented on #193
He who controls the past ... :+1:

[2015-02-05 21:01] geoffwhittington opened #194 "transcript "to date" is slightly truncated"
Screenshot below shows the trailing digit slightly truncated:

![lcb-transcript-truncated](https://cloud.githubusercontent.com/assets/1770544/6069166/30e275ca-ad50-11e4-837b-9e696511c01e.png)

[2015-02-05 21:32] kevindelaney opened #195 "Show imgur links in-line"
It would be great if we could show imgur links in this format in-line: https://imgur.com/pocjDSL

Note that a specific jpg or png was not linked, but the default imgur link.

Relevant imgur API docs here: https://api.imgur.com/endpoints/image

[2015-02-06 00:16] sibartlett commented on #194
Can you take another look, and let me know if my recent change has improved it for you?

[2015-02-06 03:14] geoffwhittington commented on #194
On ChromeOS is looks good! Thanks

[2015-02-06 03:14] #194 closed

[2015-02-06 16:04] sibartlett opened #196 "Reorder room in left sidebar"

[2015-02-06 16:05] sibartlett opened #197 "Improve styling of messages which mention current user"

[2015-02-06 20:52] #123 closed

[2015-02-06 21:18] sibartlett commented on #78
This should be fixed in the next release (0.3) - which is coming very very soon!

[2015-02-06 23:27] #101 closed

[2015-02-06 23:31] funkaoshi commented on #88
0.3.0 is now in master.

[2015-02-06 23:31] #88 closed

[2015-02-06 23:31] funkaoshi commented on #76
0.3.0 is live.

[2015-02-06 23:31] #76 closed

[2015-02-06 23:43] #167 closed

[2015-02-06 23:43] sibartlett commented on #78
0.3 has been merged into master

[2015-02-06 23:43] #78 closed

[2015-02-07 00:21] hhaidar commented on #60
We've disabled paste for the time being.

[2015-02-07 00:21] #60 closed

[2015-02-07 00:21] hhaidar commented on #44
Fixed in master!

[2015-02-07 00:22] #44 closed

[2015-02-07 21:33] pathetiq opened #198 "Passworded room"
Hi, Anyway to secured a room to limit a number of people?

[2015-02-07 22:16] sibartlett commented on #198
We don't currently have passworded rooms, but it is a feature we are considering for a future release.

[2015-02-08 06:49] tvvocold opened #199 "How do u get it run in OpenShift(a free PAAS)?"
Anyidea?

[2015-02-08 17:17] funkaoshi commented on #199
If you are just connecting to a RedHat VM, you shoud be fine so long as the box has the pre-requisites needed for the application. Is there some issue in particular you are stuck on?

[2015-02-08 17:59] sibartlett commented on #199
@funkaoshi I think we need to make changes to changes to LCB, to support OpenShift.

OpenShift seems to be a bit a like Heroku - where we have to look for specific env variables.

I've signed up for a free OpenShift account, and am looking into it. If it's not much work, I'll get it working.

[2015-02-08 21:58] hhaidar commented on #197
Ref #99ed8c9d400f1d7d526bdec328af0de2b1fc055b

[2015-02-09 00:00] geoffwhittington commented on #199
Do we want to consider allowing users to specify environment variable names in the settings file as a more general solution?

[2015-02-09 01:34] tvvocold commented on #199
@sibartlett Cool! Thx!

[2015-02-09 04:42] #197 closed

[2015-02-09 14:43] sibartlett commented on #199
@tvvocold I tried OpenShift out yesterday. It was a little disappointing because their admin console website kept crashing, and I somehow ran into a storage limitation with the free plan. I'll take a look at it again sometime, but it won't be for a couple of weeks.

You should be able to get Let's Chat working with a Node.js cartridge, and a MongoDB cartridge/add-on. To configure the application,

[2015-02-09 14:45] tvvocold commented on #199
emm, have u run it by edit the action-hooks?

[2015-02-09 14:51] sibartlett commented on #199
No, I didn't have the time to look into [acton hooks](https://developers.openshift.com/en/managing-action-hooks.html).

I will come back and take another look at this. However, we're very constrained for time right now.

[2015-02-09 15:22] tvvocold commented on #199
OK,Cool!

[2015-02-09 16:06] azend opened #200 "Typo in Vagrantfile causes Vagrant not to run."
Hi guys,

I'm brand new to this project but a friend told me about it and I thought I would check it out. So I cloned the repository and tried to get it to run as per the instructions but I was immediately hit with this issue. This error causes vagrant not to create the vm because it cannot properly run the provisioning script.

[code]

[2015-02-09 16:45] #200 closed

[2015-02-09 18:29] spenserhale opened #202 "Build to Heroku is Failing"
Application Error
An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details.

[2015-02-09 18:44] funkaoshi commented on #202
Was there anything of note in the logs?

[2015-02-09 18:54] sibartlett commented on #202
Also, was this a deployment using the Heroku Deploy button or a custom deployment? Did you change any of the configuration?

I just tested the Heroku Deploy button, with default configuration and it worked fine.

[2015-02-09 19:34] spenserhale commented on #202
Must has been a fluke or just inbetween commits or something, I deteled app and tried again and sure enough it worked, Thank you guys for quick response, on this app were would the default logs go?

[2015-02-09 20:06] #202 closed

[2015-02-10 14:40] sibartlett opened #203 "Support file upload URLs in XMPP"
File upload URLs need to be transformed prior to being sent to XMPP users.

Currently they are sent in this format: ```upload://<relative url>```

[2015-02-10 16:12] tvvocold commented on #199
BTW: Is that free i deploy letschat to heroku?(They only got 5Mb datebase)

[2015-02-10 16:14] sibartlett commented on #199
Let's Chat will work for free on Heroku, but yes the database will be limited to 5MB - unless you pay for a MongoDB add-on.

[2015-02-10 16:17] tvvocold opened #204 "Is there a live demo?"
I think it's time to build a live demo in a free cloud like Openshift for githubers  talk/enjoy this app...
In another words:
Let's Chat!

[2015-02-10 22:52] eliemichel opened #208 "Installing Let's Chat at non root path"
It would be very usefull to be able to run Let's Chat at, say, example.org/chat.

[2015-02-11 05:42] sibartlett opened #209 "Offline support"

[2015-02-11 07:00] NamPNQ opened #210 "Variable not defined before"
See: https://github.com/sdelements/lets-chat/blob/master/app/auth/index.js#L126

NO_DELAY_AUTH_ATTEMPTS is not defined

[2015-02-11 10:35] wapiflapi opened #211 "Server crash when missing variables in API requests."
The server crashes when doing a POST on /messages without supplying all of the required parameters. I suspect this is also the case for other paths in the API.

Proof of concept:
[code]

I don't have the server logs but this should be easy enough to reproduce.

[2015-02-11 12:38] #211 closed

[2015-02-11 12:40] #210 closed

[2015-02-11 12:40] sibartlett commented on #210
This is now fixed, thank you for letting us know!

[2015-02-11 12:41] sibartlett commented on #211
Thank you for letting us know, I fixed the immediate issue - will review all endpoints this week for similar issues.

[2015-02-11 15:22] funkaoshi commented on #208
@sibartlett we can already do this as part of 0.3.0, correct? This looks to be a duplicate of #78.

[2015-02-11 15:44] sibartlett commented on #208
We did address this, but then in release 0.3.1 we introduced an [asset pipeline](https://github.com/adunkman/connect-assets) - which outputs absolute paths in the HTML response.

However, if you use nginx or apache to proxy Let's Chat - you can configure them to rewrite the links in the HTML source.

[2015-02-11 15:45] sibartlett commented on #78
We did address this, but then in release 0.3.1 we introduced an asset pipeline - which outputs absolute paths in the HTML response.

However, if you use nginx or apache to proxy Let's Chat - you can configure them to rewrite the links in the HTML source.

[2015-02-11 16:28] eliemichel commented on #208
Well, if it is possible, it is not documented in the wiki's configuration documentation. Or at least I did not found it.

And what are you talking about when you say that Apache/nginx can rewrite URLs *inside* HTML?

[2015-02-11 16:32] sibartlett commented on #208
For Apache, there's a module called [```mod_proxy_html```](http://httpd.apache.org/docs/current/mod/mod_proxy_html.html).

For nginx, there's a module called [HttpSubmodule](http://wiki.nginx.org/HttpSubsModule).

I've used the Apache module a long time ago. I haven't tried the nginx module.

[2015-02-11 16:49] Zash opened #214 "Bare domain advertised as MUC host."
A `disco#info` query to the bare domain returns a feature that indicates that it is a MUC host.

     <iq id="2558cb68-1cd5-4323-988b-e93f4346f3ef" to="lets-chat.example" type="get">
       <query xmlns="http://jabber.org/protocol/disco#info"/>
     </iq>

    <iq type="result" id="2558cb68-1cd5-4323-988b-e93f4346f3ef" to="zash@lets-chat.example/cf71ffcceeda537d7a6654c77492e8a7" from="lets-chat.ex

[2015-02-11 16:53] #214 closed

[2015-02-11 16:54] sibartlett commented on #214
I've just pushed a fix for this. Thank you for pointing that out to us!

[2015-02-11 17:13] sibartlett commented on #214
Oops, pushed a second commit that does fix this properly. I also downloaded and tested in Swift.

[2015-02-12 16:43] kevinrood commented on #198
+1 for this

[2015-02-12 16:45] kevinrood opened #216 "Mobile client? Windows app?"
Is there a good mobile client that works with Let's Chat?

Windows desktop app?

[2015-02-12 21:59] tejasmanohar commented on #216
Could just package an enhanced webkit app like Slack

[2015-02-12 22:00] tejasmanohar commented on #204
Just use [this deploy to heroku link](https://heroku.com/deploy?template=https://github.com/sdelements/lets-chat)

[2015-02-12 22:01] tejasmanohar opened #217 "User roles"
Owner, Admin, Team Member, etc. User roles like Slack?

[2015-02-12 22:01] tejasmanohar commented on #198
+1 - but I don't like passwords, maybe invite-only groups like Slack

[2015-02-12 22:02] hhaidar commented on #198
+1 to invites, but @pathetiq's use case might be different

[2015-02-12 22:03] tejasmanohar commented on #195
Instead of being specific to imgur, I suggest using https://github.com/discourse/onebox or similar library for website previews-- imgur will work with this, too :+1:

[2015-02-12 22:03] funkaoshi commented on #216
For the desktop, is there something similar to [Fluid][1] for Windows? That's what I use as a fake Let's Chat client.

Some people here use XMPP clients as a Let's Chat client right now. The web app is responsive, so I just use it that way right now. People can probably make something against our API, as well.

[1]:  http://fluidapp.com/

[2015-02-12 22:04] tejasmanohar opened #218 "Registration requirements"
Requirements to register should be implemented?

Some things like you need to have a @example.com email address (w/ email confirmation, I suppose). Other ideas?

[2015-02-12 22:05] tejasmanohar opened #219 "Notifications"
HTML5 web notifications? Maybe SMS via Twilio API (keys set w/ ENV VARS) or email w/ Sendgrid/Mailgun (or just SMTP) (keys set w/ ENV vars)

Notification settings along with this?

[2015-02-12 22:05] funkaoshi commented on #218
+1

[2015-02-12 22:06] tejasmanohar commented on #182
[code]

[2015-02-12 22:06] tejasmanohar commented on #136
Or just an admin panel like slack's subdomain.slack.com/admin

[2015-02-12 22:07] tejasmanohar commented on #154
#219

[2015-02-12 22:07] funkaoshi commented on #204
Agreed. We could host one ourselves, but I think we'd rather people just do the one-click Heroku deploy.

[2015-02-12 22:07] #204 closed

[2015-02-12 22:08] tejasmanohar commented on #39
:+1:

[2015-02-12 22:09] tejasmanohar commented on #216
I meant we should create a webkit app for lets-chat, not make the client package one. Slack has something similar it seems.

[2015-02-12 22:13] hhaidar commented on #216
Yea +1 for a webkit app. We'd be able to do data caching and a bunch of  other stuff.

[2015-02-12 22:30] sibartlett commented on #198
XMPP supports passwords rooms too!

[2015-02-12 22:31] funkaoshi commented on #216
@tejasmanohar Ah I see. I'm not familiar with what's involved in that, but it sounds like a good idea for a project.

[2015-02-12 22:35] pathetiq commented on #198
Yes that's why I asked for password instead of invite, XMPP has this support already. And from my view, it is easier to manage user with password than invite, has you can change to password to block them out.

[2015-02-12 22:36] kevinrood commented on #198
My use case would be to setup rooms that only certain users could access. I would prefer not to have a password per room. Instead, some type of admin would assign users to a room and only assigned users could access it.

That's probably a different use case than initially suggested - but I think that's a common use case across business organizations.

[2015-02-12 22:39] sibartlett commented on #198
We'll consider supporting supporting both use cases. Passwords rooms will probably come first, as it's simpler to implement.

[2015-02-12 22:41] kevinrood commented on #216
I think if there were:

* pre-packaged apps for some of the common platforms (Windows, iOS, Android, Mac - in that order)
* Let's Chat can be hosted on-prem (it can)
* rooms could be locked down (requested feature)

Let's Chat could be very appealing for certain industries - like Health Care, where HIPAA is a concern. Probably for other highly regulated industries as well.

[2015-02-12 22:44] funkaoshi commented on #198
@kevinrood's idea would probably overlap with how you might also do private messaging.

[2015-02-12 23:51] Squ34k3rZ opened #220 "Increasing Project Scope"
Spitballing an idea here: Chat + Trello + Notes all in one app.

To get a design discussion going, reply with "Yeah! And..." and add a suggestion. Then when we've gathered about 5 or 10 ideas, we can start talking about "why not" and deciding which ideas are the best to select.

"Yeah! And we could add an activity feed for people to post project/status updates!"

https://cloud.githubusercontent.co

[2015-02-13 00:10] tunnelsup opened #221 "Long room names push right justified content off screen"
Two different issues seem to be happening when a chat room is created with a long name. There is not a way to archive in screenshot 1 and there isn't a way to see the right side bar or archive in screenshot two. Screenshot two is using firefox 35.0.1.

![screen shot 2015-02-12 at 7 05 21 pm](https://cloud.githubusercontent.com/assets/3720012/6179759/ac4033c2-b2d9-11e4-9af6-2e6a845dadff.png)
![lets

[2015-02-13 00:19] sagivo commented on #221
similar issue with an empty string room.

[2015-02-13 00:21] sagivo opened #222 ""Like" particular comments in a chat."
can be nice

[2015-02-13 00:23] sagivo opened #223 "private message to user"
can be nice too :)

[2015-02-13 00:28] sagivo opened #224 "search in text"
(enhancement)
per room/multi rooms.

[2015-02-13 00:45] hhaidar commented on #223
Taking care of this in #198

[2015-02-13 00:45] #223 closed

[2015-02-13 00:46] hhaidar commented on #224
Dupe of #39

[2015-02-13 00:46] #224 closed

[2015-02-13 01:22] williamtheaker commented on #219
:+1: SMTP email notifications would be great

[2015-02-13 01:55] hanoii opened #227 "failed to run on osx 10.10"
Just checked it out, did npm install with nodejs 0.12 and when trying to run it I got:

Failed at the lets-chat@0.3.0 prestart script 'migroose'.
npm ERR! This is most likely a problem with the lets-chat package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     migroose
npm ERR! You can get their info via:
npm ERR!     npm owner ls lets-chat
npm E

[2015-02-13 02:13] sibartlett commented on #227
I'll test nodejs 0.12 soon - we've been using nodejs 0.10 on OS X 10.10

[2015-02-13 02:15] hanoii commented on #227
OK, I think I had that one installed before and got the same error, then updated, but not 100% sure which version I had before.

[2015-02-13 02:21] sibartlett commented on #227
Can you try running the following two commands?

[code]

[2015-02-13 02:41] TrevorHinesley opened #228 "S3 file uploads not working"
When I try to upload a file, I get "Bad Request" and the pop-up says there was an error uploading. I've set the environment variables to enable files, to use "s3" as the provider, and set my amazon keys, bucket and region.

Any ideas?

[2015-02-13 02:52] tmeusburger opened #229 "Room creation with invalid slug doesn't error out."
If you attempt to create a room with a dash in the slug it'll continue as if successful but fail to create the room.

As a result it's not really clear how to tell, why the room you attempted to create, doesn't exist.

To reproduce add a `-` into the slug name.

[2015-02-13 02:54] sibartlett commented on #228
We'll take a look into this - it's been a while since we tried the S3 code.

[2015-02-13 03:25] TrevorHinesley commented on #228
Awesome thank you!

[2015-02-13 03:31] serkanh opened #230 "Add specific version of mongodb to fig.yml."
Currently "image:mongo" line in fig.yml pulls every version of the mongo db, including release candidate versions when building the images. Specifying version number could greatly reduce the build time.

[2015-02-13 03:33] sibartlett commented on #230
Woah, I'll get right on this!

[2015-02-13 03:33] parente opened #231 "Validation of user fails on second login and beyond when using LDAP"
Steps to reproduce:

1. Configure LDAP
2. Login with a valid LDAP username and password
3. Logout
4. Try to login with the same LDAP username and password again
5. Second login and beyond always fails with error:

[code]

[2015-02-13 03:39] #230 closed

[2015-02-13 03:49] sibartlett commented on #231
Hi @parente, thank you for sharing this problem with us.

Could you try updating the LDAP plugin to the lastest version: ```npm update lets-chat-ldap```

Before trying again, you'll need to remove the LDAP user already in the database - it might be easier to just drop the database.

[2015-02-13 04:06] geoffwhittington commented on #229
What do we think of auto-generating slugs in the UI? This doesn't fix the underlying issue, but may avoid a number of these cases

[2015-02-13 04:59] sidwubf commented on #218
+1

[2015-02-13 05:04] sibartlett commented on #229
@geoffwhittington good idea!

[2015-02-13 07:44] dgoujard commented on #219
Or Pushbullet and other notifications app ?

[2015-02-13 10:13] faebser opened #234 "npm install and Python 3.4.2"
Hi,

i get the following error when running
[code]
[code]
I made an virtualenv with python2.7 and ran npm install from there to make it work.

[2015-02-13 10:20] faebser commented on #227
Hi,
I'm running Linux 3.18.6-1-ARCH with node v0.10.36 and npm  v2.5.0.
I got the same error starting the app.

I tried to run
[code]
but no luck:

[code]
the output of npm-debug.log:
[code]

do you need some more info?

[2015-02-13 10:50] GotenXiao opened #235 "Token menu option is hidden unless XMPP is enabled"
The dropdown menu item for token management is wrapped inside the check for XMPP being enabled in templates/chat.html#52. Is this correct? I've not seen that requirement documented on the wiki, and the Docker setup defaults to XMPP disabled (thus meaning no tokens interface).

[2015-02-13 11:53] sibartlett commented on #235
This was fixed here: b42d6de019bfc17f396b658a1c0dffa7ae14c2dc

[2015-02-13 11:53] #235 closed

[2015-02-13 11:54] sibartlett commented on #234
We'll update the documentation.

[2015-02-13 13:37] LouisKottmann commented on #208
This functionality is important to me as well, and since it is uncommon in open source webchats (including web irc clients, and believe me I tried many), you'd have a selling point.

I think an effort spent in restoring non-root hosting would pay off ;)

[2015-02-13 15:18] sibartlett commented on #208
I'm reopening this issue for now.

[2015-02-13 16:48] danieldiekmeier commented on #227
[code]

I have the same problem.

[2015-02-13 16:59] derickbailey commented on #227
@faebser from the above stack trace:

do you have a MongoDB instance running on your computer? if not, you will need that.

@sibartlett i'll install node v0.12 and see if things work correctly. is the lack of database connection something that should be handled better in derickbailey/migroose? is this documentation that should be updated in lets-chat, so people know where to change the connection

[2015-02-13 19:02] Avalarion commented on #182
An easy usable api or plugin endpoint would also be good here.

[2015-02-13 19:03] sibartlett commented on #234
I've updated the documentation - will close this ticket. node-gyp requires Python 2.7

[2015-02-13 19:03] #234 closed

[2015-02-13 19:59] faebser commented on #227
@derickbailey I just followed the wiki and therefore I assume that I don't have a mongoDB Instance running. You just probably mention this in the wiki.

[2015-02-13 20:03] hhaidar commented on #227
@faebser It's definitely listed on the [installation page](https://github.com/sdelements/lets-chat/wiki/Installation), we can probably make it easier to see though.

[2015-02-13 20:31] faebser commented on #227
@hhaidar shit, now I can see it too. sry, maybe a quick notice that you have to start it together with the app?

[2015-02-13 21:01] hanoii commented on #227
Yup,

[code]

did it for me, seems to work just fine on node 0.12 as well.

nice one, I'll have to do something on nodejs at some point!

[2015-02-13 21:05] derickbailey commented on #227
@hanoii you should! it's fun :) i've got a short screencast at the bottom of this post, to show you how to write your first node code: https://sub.watchmecode.net/getting-started-with-nodejs-installing-and-writing-your-first-code/

[2015-02-13 21:06] thojansen commented on #216
Check out nwjs/nw.js and atom/atom-shell for shipping native desktop web apps. Should work nicely with your node.js stack.

[2015-02-13 21:06] hanoii commented on #227
@derickbailey thanks, will definitely take a look!

[2015-02-13 21:28] funkaoshi commented on #182
There is already an API for the Let's Chat. You can read about it in our documentation. Or do you mean an API for future IRC commands?

[2015-02-14 00:55] erlend-sh commented on #79
Here is an excellent CommonMark library:

https://github.com/markdown-it/markdown-it

By @puzrin and @rlidwka

[2015-02-14 00:59] joshwand commented on #228
+1 having the same problem. verified the s3 credentials work... the s3 code doesn't log anything besides "There was a problem with the server's S3 credentials." if the response code != 200. (/app/core/files/s3.js:38)

[2015-02-14 01:00] joshwand commented on #39
:+1:

[2015-02-14 03:08] lennymora commented on #39
whats  ulp

Josh Wand <notifications@github.com> wrote:

[2015-02-14 03:38] elct9620 opened #239 "Display Name default is password"
Hello,

I setup Let's chat on Heroku, after I finished deploy and signup account.
I login and see my password show as display name, is three have any problem about this?

[2015-02-14 03:39] sibartlett commented on #228
I've been debugging this, S3 is returning 403. Will take another look over the weekend!

[2015-02-14 06:23] sammcj opened #240 "SSL error: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:581)"
* OSX 10.10.2
* Docker 1.5.0 w/ boot2docker
* Fig 1.0.1

[code]

[2015-02-14 06:27] sammcj opened #241 "PostgreSQL Support"
It would be great if Lets-Chat would work with more common databases such as PostgreSQL.

Many organisations / teams already have PostgreSQL for many of their applications and it's costly to support, backup and maintain multiple database products.

I'm no developer so I don't think I can contribute to help add PostgreSQL support but more I'm than happy to test anything anyone comes up with?

Great

[2015-02-14 07:01] Avalarion commented on #182
Yes, i meant for this commands to add or remove them and perhaps even handle them on a remote place.

[2015-02-14 10:11] drakmail commented on #198
+1 for this

[2015-02-14 10:18] drakmail opened #242 "History of room doesn't load after sign out from room and sign in to that room"
Subj. See video for more detailed description: http://www.youtube.com/watch?v=2ChR1PzgnyM

[2015-02-14 11:36] hhaidar commented on #241
Thanks, glad you like the project!

Currently there are no plans to switch away from Mongo simply because we're so dependent on Mongoose and Migroose. I don't really see an immediate benefit yet, that might change though :)

[2015-02-14 11:36] #241 closed

[2015-02-14 11:42] hhaidar commented on #242
@drakmail thanks for bringing this up, should be fixed if you pull the latest.

[2015-02-14 11:43] hhaidar commented on #239
You might have entered your password in the display name field by default.

Do you mind trying to register again?

[2015-02-14 11:45] hhaidar commented on #231
If you just want to drop the user:

mongo
use MYDATABASE
db.users.remove({})

[2015-02-14 11:47] hhaidar commented on #227
@danieldiekmeier did you end up getting it to work?

[2015-02-14 11:50] hhaidar commented on #219
+1 Exposing a plugin api for this kind of stuff would be nice. We could have packages like lets-chat-smtp, lets-chat-twillio, lets-chat-jira etc

[2015-02-14 13:24] kirushik opened #243 "Ability to invite users to a chat room"
It might be a separate interface, or just an extended scope for `@mention` notifications.

But sometimes user is needed in a discussion she is not watching currently, and there should be a way to catch his attention.

[2015-02-14 13:29] elct9620 commented on #239
Oops, I guess my password manager extension fill the password to display name field.

[2015-02-14 13:29] #239 closed

[2015-02-14 13:30] kirushik opened #244 "Context preview support for URLs"
Sometimes I post a github issue URL or a trello card link in the chat.

It would be a really great feature if Let's chat was able to replace long and non-descriptive URL with some context from the target page. (If this would happen on the clientside then even non-public sources can be covered.)

From my experience with HipChat, such snippets significantely increase the context-awareness of all the

[2015-02-14 13:33] drakmail commented on #242
Doesn't help :(

[2015-02-14 13:37] hhaidar commented on #242
@drakmail did you restart the app after pulling? Assets are built on startup.

[2015-02-14 13:39] drakmail commented on #242
Yes, I'm shut it down, did `git pull` and run again with `npm start`. But, maybe, this is cache issue... try to clear it now and check again.

[2015-02-14 13:40] drakmail commented on #242
Yes, clearing cache solved issue

[2015-02-14 13:40] #242 closed

[2015-02-14 13:44] hhaidar commented on #244
+1

By the way, right now you can linkify ticket numbers and such by adding a `local.yml` file in `/extras/replacements/`

There's an [example file](https://github.com/sdelements/lets-chat/blob/master/extras/replacements/local.yml.sample) in that directory you can copy.

[2015-02-14 13:45] hhaidar commented on #242
Ah nice! Thanks again for reporting this, I really appreciate it.

[2015-02-14 13:47] hhaidar commented on #239
@elct9620 Yea it happens sometimes :D If you don't mind me asking, which password manager extension are you using? I'd like to see if there's something we can do to avoid stuff like this.

[2015-02-14 13:50] hhaidar commented on #244
Oh, I forgot to mention that we support hubot as well: https://github.com/hhaidar/hubot-lets-chat

[2015-02-14 13:53] kirushik commented on #244
@hhaidar Oh, that's great, tanks for tipping those out.
I'll see if Let's chat will suit my current team.

_Still need to figure out some IRC-public-room-to-XMPP-MUC bridge._

[2015-02-14 14:26] rjschu commented on #229
hey :) is this still an issue youd like fixing or are you going with auto-generating the slugs?

[2015-02-14 14:28] hhaidar commented on #229
@rjschu we're doing both, are you planning on contributing a PR?

[2015-02-14 14:46] ff- opened #246 "IRC backend"
It would be a great feature if Let's Chat implemented also an IRC backend (Slack-like). This would include a basic IRC implementation (which I think is the easy part) and a bouncer I think (to support XMPP integration).

It would be a killer feature for lots of teams (since there are many people who already use IRC in their daily workflow)

[2015-02-14 15:05] elct9620 commented on #239
I using LastPass to manage my password.

[2015-02-14 15:07] Putr commented on #246
+1

[2015-02-14 15:17] porkrinds opened #247 "[REQ] Ability to bind to localhost"
I'd like to use nginx reverse proxy to this app so I can use proper modern SSL (PFS ciphers for example), as well as my sites already existing certificate, to proxy to let's-chat that listens only on localhost. I didn't see this option in the config or defaults

Or is this tool meant to only be used on a local network and not internet facing?

Thank You. The program is beautiful.

[2015-02-14 16:09] hhaidar commented on #247
+1 Yea, this seems reasonable.

[2015-02-14 16:22] hhaidar commented on #247
@porkrinds Can you try out #248, just add `host: 'localhost'` under `http:` in `settings.yml`

[2015-02-14 16:25] PerfectCarl commented on #193
I'm so bad at typing that this feature would free me and make my time chatting more enjoyable.

:)

[2015-02-14 16:25] rjschu commented on #229
i was going to take a look at it if no one else is yeah :)

[2015-02-14 16:27] PerfectCarl commented on #126
Agreed.
Some time, you just realize (with shame) that the last 30 minutes are better suited to #random, #opinions or #rants or (god forbid #the_view or #oprah)

Being able to fix that afterwards would be nice.

[2015-02-14 16:27] PerfectCarl commented on #79
+1

[2015-02-14 16:54] hhaidar commented on #228
Here's what knox is getting:

[code]

[2015-02-14 16:59] hhaidar commented on #229
@rjschu awesome :D

[2015-02-14 17:00] rjschu commented on #229
is there any way in particular youd like the user to alerted that the creation was unsuccessful?

[2015-02-14 17:01] hhaidar commented on #229
@rjschu we're using sweetAlert in a couple of places: http://tristanedwards.me/sweetalert

[2015-02-14 17:10] rjschu commented on #229
@hhaidar brilliant i shall take a look at it and let ya know when its done :)

[2015-02-14 17:15] geoffwhittington commented on #243
We have `@@` to mention users not in a room - but the messages don't reach them, yet. This would be a good addition if someone wants to send in a PR

[2015-02-14 17:26] hhaidar commented on #229
Thanks @rjschu, you rock!

[2015-02-14 17:35] hhaidar commented on #243
Here a couple of ideas:

* Notifications feed (a la github)
* Hook for mentions, so you can script stuff like email/sms/etc
* Maybe auto-join / popup / or something?

[2015-02-14 18:03] hhaidar opened #250 "Serve a robots.txt"
Sometime you don't want search bots creeping on your app.

This probably should be optional too.

[2015-02-14 18:36] abhishekgoel137 opened #251 "In the users collection, rooms and messages array are empty"
In the users collection, rooms and messages array are empty.

Ideal case : They should have the room id or message id.

[2015-02-14 19:08] sibartlett commented on #251
Those are legacy properties, we'll probably remove them.

[2015-02-14 19:23] danieldiekmeier commented on #227
@hhaidar Yes, it was because of MongoDB not running. Maybe you can check for that on starting the app and give a clearer error message? Other than that, loving it so far.

[2015-02-14 19:30] hhaidar commented on #227
@danieldiekmeier awesome, good to hear!

[2015-02-14 19:30] #227 closed

[2015-02-14 21:57] geoffwhittington opened #252 "We should not give administrators the wrong impression about our `settings.yml.sample` configuration: some of the configuration in there is just to get Lets Chat running, without getting bogged down with hardening. But security matters. 1. Make all settings secure by default. If things don't work for administrators we will have documentation/forum/github issues to troubleshoot. 2. An `insecure_settings.yml.sample` file that people can use to spin up Lets Chat as quickly as possible - where ease of configuration is given higher precedence than security. Some possible insecure settings may be binding to all network interfaces, allowing self registration, etc. 3. Heroku, Vagrant, Docker deployment options should either get the default settings or be told during startup that they are running insecure settings. There is documentation in the wiki to warn people now, but that may be insufficient."
We should not give administrators the wrong impression about our `settings.yml.sample` configuration: some of the configuration in there is just to get Lets Chat running, without getting bogged down with hardening. But security matters.

1. Make all settings secure by default. If things don't work for administrators we will have documentation/forum/github issues to troubleshoot.
2. An `insecure_se

[2015-02-14 21:58] geoffwhittington commented on #252
Wow - I was having trouble with the title there...

[2015-02-14 23:43] Twilek-de commented on #219
+1 Pushbullet or SMTP

[2015-02-14 23:55] hhaidar commented on #228
Okay, should be fixed now. @TrevorHinesley @joshwand can you guys try pulling latest?

Also, just a quick heads up: @sibartlett might create a separate plugin for this, so you might have to install an npm module in the near future.

[2015-02-15 00:48] sibartlett commented on #228
I have extracted the S3 functionality into a separate plugin: https://github.com/sdelements/lets-chat-s3

[2015-02-15 00:49] funkaoshi commented on #228
👍

[2015-02-15 00:50] hhaidar commented on #228
:boat:

[2015-02-15 00:50] funkaoshi commented on #252
Agreed.

[2015-02-15 01:26] sibartlett opened #254 "Plugins should support environment variables"
Plugins should be configurable via environment variables.

[2015-02-15 01:30] hhaidar commented on #254
:+1:

[2015-02-15 01:31] sibartlett opened #255 "Edit user profile constraints"
Authentication plugins should be able to dictate what user fields are editable from within the app.

On a per plugin basis, where it makes sense, this should be configurable.

For instance, most users of the LDAP plugin may wish to enforce that user profile data MUST match LDAP.

[2015-02-15 04:36] hhaidar commented on #240
Docker seems to be working for me. @geoffwhittington @TuxOtaku any ideas?

[2015-02-15 04:42] sibartlett commented on #240
There's an issue open in the Fig issue tracker for this error: https://github.com/docker/fig/issues/890

[2015-02-15 12:42] Twilek-de opened #256 "Remove User Acount"
Is there any way yet to remove or reset a user account with a lost password without directly hacking the database?

[2015-02-15 14:56] parente commented on #231
@sibartlett `lets-chat-ldap@0.2.2` fixed the problem for me. Thanks!

[2015-02-15 14:56] #231 closed

[2015-02-15 16:12] porkrinds commented on #247
Hi, this appears to work for me. I can no longer access via public interface, however reverse proxying works. Now to get the nginx config setup properly :)

[2015-02-15 16:14] hhaidar commented on #247
Good to hear, this will make it into master shortly. Just need to test heroku/docker/etc :)

[2015-02-16 02:55] hhaidar commented on #246
We probably won't implement this since there is no immediate benefit for our team. That being said, if anyone wishes to provide a PR with this, we're 100% for it :)

[2015-02-16 02:56] hhaidar commented on #229
There's an error now, but we need to make it more specific. This applies to all modals.

[2015-02-16 02:56] #229 closed

[2015-02-16 03:17] hhaidar commented on #199
We should close this if we're not going to support OpenShift @sibartlett

[2015-02-16 03:34] sibartlett commented on #199
Yeah, I'd hate to say it... but for the time-being, we won't be adding official support for OpenShift. There's a lot of work involved in supporting each platform (not just adding it, but on-going support), and we don't currently have the resources to support a extra one.

We'll reconsider when we enough resources, or more demand.

[2015-02-16 03:34] #199 closed

[2015-02-16 03:43] sibartlett commented on #256
There currently isn't a way to remove or reset a lost password.

We have plans for both, with the latter being of very high priority.

[2015-02-16 04:55] tvvocold commented on #199
@sibartlett i think there is one,but how to update it ? https://github.com/worldline/openshift-lets-chat

[2015-02-16 05:32] geoffwhittington commented on #256
When deleting a user I assume the user is an employee and its employer normally has reasonable rights to retain the user's data. The following points come to mind:

- User-contributed data - I don't think we need to wipe anything
- User record - Mark it deleted and disallow further authentication attempts by the user
- Rooms owned by the user - Archive their rooms automatically (bonus: enable owne

[2015-02-16 05:49] sibartlett commented on #256
@geoffwhittington yes, you're quite right; we'd want to disable the user rather than delete them

[2015-02-16 05:50] geoffwhittington commented on #193
I'm not clear how this feature would work in practice. There is a likely risk that follow-up messages will look out-of-context.

My suggestion is the introduction of a delay before a message is actually sent - so you can review it and fix it.

[2015-02-16 08:05] Twilek-de commented on #256
I am not a legal expert, but as far as I know local law in Germany gives everyone the right to full disclosure of their data at any time and explicitly gives them the right to have their data wiped completely if they want it (which gave facebook quite a bit of a headache dealing with german authorities). I guess as long as lets chat is still a rather small project that legal stuff is quite academi

[2015-02-16 11:17] dbr1337 opened #259 "Installation on debian 7 failed"
Hello, i try to install the Let's Chat software for my company on debain 7 - 64 bit.
I installed the requirements, cloned the git repository and run npm install.
It fails at the installation, here is the installation history:

jabber@jabber:~/lets-chat$ npm install
...

make: Entering directory `/home/jabber/lets-chat/node_modules/node-xmpp-core/node_modules/ltx/node_modules/node-expat/node_module

[2015-02-16 11:35] jiyinyiyong commented on #4
Bad news, gravatar is not available in mainland China.
![empty-page](https://cloud.githubusercontent.com/assets/449224/6211228/eb7a93b6-b612-11e4-910c-4f5aa42fabca.png)

[2015-02-16 12:25] TuxOtaku commented on #4
Yeah I've been thinking for a while that we should support another method for profile pics aside from Gravatar.

[2015-02-16 13:16] hhaidar commented on #4
Re-opening this.

@jiyinyiyong do you know of any alternatives that we can fallback too?

[2015-02-16 13:22] hhaidar commented on #259
Try installing libexpat: https://packages.debian.org/sid/libexpat-dev

[2015-02-16 13:25] #250 closed

[2015-02-16 13:26] hhaidar commented on #247
Fixed via #248

[2015-02-16 13:26] #247 closed

[2015-02-16 14:15] jiyinyiyong commented on #4
@hhaidar I think encouraging users to upload images is my best solution(cropping is not neccessary though).

[2015-02-16 14:47] dbr1337 commented on #259
It works now, thank you!
But i have a new problem, i enabled the XMPP Application. It works to connect, but the web interface is not more reachable and this errors show up: http://img-host.de/bild.php/53964,bildschirmfoto20150216um154331XLFD4.png

[2015-02-16 14:49] Twilek-de commented on #259
Interesting, I installed it on a debian 64 bit. For me the web interface works but the XMPP does not. The port is open but the Login always fails.

[2015-02-16 14:53] hhaidar commented on #259
@dbr1337 can you paste your settings for http and xmpp?

@Twilek-de are you using the username to login? What happens when you telnet to that port and type something?

[2015-02-16 14:54] dbr1337 commented on #259
http:
  enable: true
  host: 'localhost'
  port: 5000

xmpp:
  enable: true
  roomCreation: false
  debug:
    handled: false
    unhandled: true
  port: 5222
  host: 192.168.211.161
  tls:
    enable: true
    key: ./mycert.key
    cert: ./mycert.crt

[2015-02-16 14:55] hhaidar commented on #259
@dbr1337 what address are you using to access the web interface? The host setting under http is currently `localhost`, which will only be accessible there. Try changing it to `192.168.211.161`

[2015-02-16 14:57] dbr1337 commented on #259
I had change it before to 192.168.211.161, now it was localhost. But i changed it and i worked. My next question: i need to connect the xmpp server with active directory and implement the users from there. how can i do this?

[2015-02-16 14:59] hhaidar commented on #259
We have modules for LDAP and Kerberos auth:

https://github.com/sdelements/lets-chat-ldap
https://github.com/sdelements/lets-chat-kerberos

Please be sure to disable local registration too! https://github.com/sdelements/lets-chat/wiki/Authentication#local-authentication

[2015-02-16 15:00] hhaidar commented on #259
Closing this. @Twilek-de do you mind opening another issue if you're still having problems getting XMPP to run? CC @sibartlett

[2015-02-16 15:00] #259 closed

[2015-02-16 15:03] hhaidar commented on #4
@jiyinyiyong do you think this is something you can work on? It might be a while before we get to it as our team has access to Gravatar.

[2015-02-16 15:04] Twilek-de opened #260 "Unable to connect to XMPP on Debian 64 bit installation"
The XMPP Port is open but I cannot connect

lsof -i -P gets
node      29414        root   22u  IPv6 2966443      0t0  TCP *:5222 (LISTEN)

telnet localhost 5222
Trying 127.0.0.1...
telnet: Unable to connect to remote host: Connection refused

Let´s chat shows no errors

My settings look like this

env: development # development / production

http:
  enable: false
  port: 5000

https:
  enable: tru

[2015-02-16 15:48] Twilek-de commented on #260
I am just realizing that the port is opened only for IPv6. It is not opened for IPv4 by lets chat or any other program (just checked that)

[2015-02-16 16:07] dbr1337 opened #261 "Active Directory configuration"
Hello,
i need to implement the Users from Active Directory to XMPP but it will not work.
This is my configuration:

[code]

[code]
Can anyone please help me?

[2015-02-16 16:09] funkaoshi commented on #193
I think it's best not to do this. It sort of runs contrary to how most people assume chat works.

[2015-02-16 16:11] sibartlett commented on #261
[code]

is supposed to be:

[code]

[2015-02-16 16:17] sibartlett commented on #260
This is what I get on Mac OS X, looks similar to what you get:

[code]

Telnet worked for me though.

[2015-02-16 16:17] Twilek-de commented on #260
The SSL Port looks like this
node      29414        root   10u  IPv4 2966442      0t0  TCP *:5001 (LISTEN)

[2015-02-16 16:19] dbr1337 commented on #261
auth:
  ldap:
    connect_settings:
      url: ldap://ldap.censored.com
      tlsOptions:
        ca: cert.pem
    server_certs: []
    bind_options:
      bindDN: CN=Jabber Testuser,CN=Users,DC=censored,DC=com
      bindCredentials:
    search:
      base: CN=Users,DC=censored,DC=com
      opts:
        scope: one
        filter: (uid={{sAMAccountName}})
        attributes: []
    field_mappings:

[2015-02-16 16:21] sibartlett commented on #260
My local instance reports HTTP/HTTPS as IPv4, and XMPP as IPv6.

[2015-02-16 16:24] hhaidar commented on #193
I want this feature in, but with two notes:

* Some type of time limit
* Messages have some indicator they were changed (like a * next to the time or something)

[2015-02-16 16:25] Twilek-de commented on #260
So does mine, but for me XMPP really only works with IPv6. Connecting to 5001 only works with IPv4.

[2015-02-16 16:27] hhaidar commented on #261
Try changing:

`CN=Jabber Testuser,CN=Users,DC=censored,DC=com`

to

`CN=Jabber\ Testuser,CN=Users,DC=censored,DC=com`

[2015-02-16 16:29] sibartlett commented on #261
Try this one:

[code]

[2015-02-16 16:38] sibartlett commented on #193
Skype allows you edit messages you've already sent - took look at that an example.

[2015-02-16 16:48] Zash commented on #193
This may be of use: [XEP-0308: Last Message Correction](http://xmpp.org/extensions/xep-0308.html)

[2015-02-16 16:59] sibartlett commented on #260
I realize my comments haven't been very helpful so far.

@geoffwhittington @TuxOtaku do you guys happen to have a debian install you can test the XMPP functionality on?

[2015-02-16 17:25] funkaoshi commented on #193
Might want to keep a history of edits, so people can see what was changed.

[2015-02-16 17:30] hhaidar commented on #193
@funkaoshi Nice to have, not a deal breaker though imo

[2015-02-16 17:54] TuxOtaku commented on #260
@sibartlett I can set one up in the lab for you tomorrow if you like. :smile:

[2015-02-16 18:08] scragg0x commented on #261
I got mine working with AD.

Firstly, make sure you update the ldap plugin because I recently submitted a patch that fixed a breaking bug when it came to creating user via ldap auth.

here is what my settings look like:

[code]

Using your DN as an example.  BTW, I'm no AD admin but you can try OU=Users instead of CN=Users.  Not sure though, you could have it correct there.

[2015-02-16 18:26] sibartlett commented on #261
@scragg0x I'm going to add your LDAP config to the plugin's readme file as an example, if you don't mind?

[2015-02-16 18:59] scragg0x commented on #261
@sibartlett That's fine, I hope it helps.  I don't really don't know much about AD so I had to talk to our admin.  It would be helpful to highlight some of the fields that will need to be changed, such as

ldap url
server_certs (if used)
bindDN
bindCredentials
search.base

Everything else should match my example.

[2015-02-16 19:58] geoffwhittington commented on #260
I've done all my testing on Ubuntu, I just assumed Debian was identical but I'm wrong often. I'll see what i can do!

[2015-02-16 22:26] sibartlett commented on #4
Avatar upload functionality should use the upload plugin currently in use (local/S3).

[2015-02-17 01:44] jiyinyiyong commented on #4
@hhaidar I'm not quite familiar with server side programming and was not planning to do that :(

[2015-02-17 01:55] sibartlett commented on #4
@jiyinyiyong no worries :)

[2015-02-17 02:23] geoffwhittington commented on #39
Are we relying on an update to Mongo for this?

[2015-02-17 02:55] sibartlett commented on #39
@geoffwhittington yes, we're going to try Mongo text search, before introducing another dependency.

[2015-02-17 03:15] hhaidar commented on #39
@sibarlett how is it going to affect < 2.6?

[2015-02-17 03:40] sibartlett commented on #39
@hhaidar we can figure that out when we try it. Maybe there's a way of retrieving the Mongo version from mongoose? Or make search something you have to enable in your config?

[2015-02-17 08:07] dbr1337 commented on #261
@scragg0x Thank you, but it doesnt will work.
This is my configuration actually:
auth:
  ldap:
    connect_settings:
      url: ldap://ldap.censored.com:389
      tlsOptions:
        ca: cert.pem
    server_certs: []
    bind_options:
      bindDN: OU=Users,DC=censored,DC=com
      bindCredentials:
    search:
      base: OU=Users,DC=censored,DC=com
      opts:
        scope: one
        filter: (

[2015-02-17 08:48] SL-RU opened #262 "Support for plugins"
Ex. Plugins for view attached documents, youtube videos, etc.

[2015-02-17 09:10] #262 closed

[2015-02-17 12:20] PerfectCarl commented on #193
This feature has been implemented in skype, whatsapp and _that other group chat web app_ to the users' benefits
(I don't remember any backlash from their user base regarding that feature)

[2015-02-17 13:46] bodiam opened #264 "CERT_NOT_YET_VALID"
Hi all,

I'm trying to start the chat using the Docker container using Fig, and while trying to run the image, I get the following error:

[code]

Any ideas?

[2015-02-17 13:51] bodiam commented on #264
Ah, never mind, I 'fixed' it by restarting boot2docker, as described here: https://github.com/npm/npm/issues/2902

[2015-02-17 13:51] #264 closed

[2015-02-17 16:32] oinirio opened #265 "hubot scripts on LCB"
I've been testing with the hubot adapter but can execute any of my script or any other third party inside even though they run inside hubot shell.

[2015-02-17 16:37] hhaidar commented on #265
Do you see the hubot in the user list?

[2015-02-17 19:06] Twilek-de commented on #260
I have setup a barebone fresh Debian 64 VM and just installed the necessary stuff (you are missing a probably too obvious prerequisite in the installation instructions, namely "git" itself :-) ). With just http and XMPP enabled lets chat will open Port 5000 with v4 only and Port 5222 v6 only.

[2015-02-17 21:11] sibartlett commented on #261
@dbr1337 I've updated the examples in the [LDAP plugin README](https://github.com/sdelements/lets-chat-ldap). Maybe they are more useful?

[2015-02-18 00:29] dfyx commented on #246
[ircd.js](https://github.com/alexyoung/ircd.js/) might be an option but sadly it currently isn't meant for being used as a library.

[2015-02-18 03:16] tugh commented on #136
+1
@tejasmanohar

[2015-02-18 03:57] hhaidar commented on #265
Also if you're using 0.3+, please make sure lets-chat-hubot is up to date and you're supplying it with a user auth token.

[2015-02-18 09:18] dbr1337 commented on #261
I tried the examples, but i get these errors:
http://img-host.de/bild.php/53992,bildschirmfoto20150218um1011169YU2V.png

[2015-02-18 10:08] dbr1337 commented on #261
Now i works! :dancer:
But i have a new question: How can i import the Groups and all Users from AD to XMPP?

[2015-02-18 11:27] DenisSergeevitch opened #266 "Login without password"
What if I wand to give a chat for anyone who want to "easy" chat, is it possible to ask only username without password?

[2015-02-18 14:24] sibartlett commented on #261
We don't currently support importing users from LDAP, nor do we currently support XMPP rosters.

We're hoping to add support for XMPP rosters and private chat in the next major release.

You can enable TLS for XMPP using the following config settings:

[code]

If you're using HTTPS, you can use the same certificate and key. There's no need to change the port.

[2015-02-18 14:28] sibartlett commented on #266
We are aware that some users would like this functionality, but we currently do not have any plans to implement this ourselves.

We'd be happy to accept a pull request from someone, but would like to spec such a feature out first, and consider what implications such a feature may have.

[2015-02-18 14:30] PerfectCarl commented on #195
Link expansion would be a nice addition!

[2015-02-18 15:03] funkaoshi commented on #266
One could imagine having an "authless" authentication backend, or some such thing.

[2015-02-18 15:12] tribou commented on #79
:+1: Would love to be able to use Markdown (especially code snippets) in chat.  Also would like to be able to embed links with Markdown in chat room descriptions, etc.

[2015-02-18 15:16] funkaoshi commented on #220
Do we want to do this? Seems like it'd be a completely different application. Might work better its own fork.

@hhaidar / @sibartlett ?

[2015-02-18 15:18] funkaoshi commented on #186
Should we just add this to the docs and close the ticket? Or do we want to generate our own internal index page?

[2015-02-18 15:18] funkaoshi commented on #176
Similar to #222.

[2015-02-18 15:19] funkaoshi commented on #222
We can track this in #176.

[2015-02-18 15:19] #222 closed

[2015-02-18 15:20] sibartlett commented on #266
Actually this could possibly be implemented as a plugin which creates an account a) based on the username entered or b) per user session.

[2015-02-18 15:21] funkaoshi commented on #80
Can track in #33.

[2015-02-18 15:21] #80 closed

[2015-02-18 15:22] sibartlett commented on #186
Maybe we can add a link to the cheat sheet from within the UI?

[2015-02-18 15:38] geoffwhittington commented on #246
A bandaid solution might be to use http://www.bitlbee.org/

[2015-02-18 15:50] #220 closed

[2015-02-18 16:24] oinirio commented on #265
the problem was an outdated hubot-lets-chat git pull solve this

[2015-02-18 16:24] #265 closed

[2015-02-18 16:45] hhaidar commented on #265
![yes](http://media3.giphy.com/media/62PP2yEIAZF6g/giphy.gif)

[2015-02-18 16:53] Twilek-de commented on #260
I played a little more with my test installation. Althought port 5222 is only listed as IPv6 you can connect with IPv4. A telnet localhost 5222 gives a trying ::1 and then a Connected to localhost, so it defaults to IPv6. A telnet 127.0.0.1 5222 will still connect. This is different from the behaviour of lets chat on my server althought the listing of the ports with lsof is the same.

[2015-02-18 22:33] vdite opened #267 "Error starting"
I do get "sh: 1: migroose: not found" on "npm start" on Ubuntu 14.04.1 LTS

[2015-02-18 23:26] hhaidar commented on #267
What version of node and npm do you have?

Also is this a fresh install?

[2015-02-18 23:28] hhaidar commented on #267
You might need to run `npm install`

[2015-02-19 03:55] JohnTheodore commented on #256
If people want to use this app in Germany and comply with all local laws, they can send a PR or fork. :p. If you took into account all the local laws for the various countries, nothing would get done.

[2015-02-19 04:04] JohnTheodore opened #268 "Lock registration down to certain domains"
Slack has a feature which is great, where I can only register for my slack instance if I have an email that uses @mycompany.com. and 'mycompany.com' is a configurable field. So only our employees can sign up. It would be great if Let's Chat did this as well.

[2015-02-19 04:15] JohnTheodore opened #269 "openid auth support"
It would be great to use google for you domain, and hook that up to chat.

[2015-02-19 04:38] hhaidar commented on #268
+1 But we'll need email confirmation, which is probably where we're heading.

[2015-02-19 04:39] hhaidar commented on #261
@dbr1337 closing this, let us know if you run into any issues :D

[2015-02-19 04:39] #261 closed

[2015-02-19 04:59] JohnTheodore commented on #246
There are ways to have your irc client, like irssi connect to xmpp.
http://cybione.org/~irssi-xmpp/

Also pidgin and adium support irc and xmpp at the same time. In fact there are lots of clients using libpurple that support gobs of protocols all in a unified UI experience ( https://developer.pidgin.im/wiki/WhatIsLibpurple ).

[2015-02-19 05:17] JohnTheodore commented on #218
:+1:

[2015-02-19 05:17] JohnTheodore commented on #268
Just realized this is a duplicate of 218, I'll close.

https://github.com/sdelements/lets-chat/issues/218

[2015-02-19 05:17] #268 closed

[2015-02-19 05:17] hhaidar commented on #268
Dupe of #218

[2015-02-19 05:17] hhaidar commented on #268
@JohnTheodore you're the man!

[2015-02-19 05:20] JohnTheodore commented on #217
:+1:

[2015-02-19 08:20] dbr1337 commented on #261
@sibartlett When will come the next major release? I need this update asap, because my company want to use the let's chat software. We prefer the XMPP Plugin, because we need to stay in contact with all employees from the company. It would be great to support roster for LDAP into XMPP next time. Greetings

[2015-02-19 12:43] vdite commented on #267
both i had installed via apt-get yesterday
node -v v0.6.12
npm -v 1.1.4

[2015-02-19 12:45] vdite commented on #267
oh, I see now the fail. I do need Node.js (0.10.x)

[2015-02-19 12:59] hhaidar commented on #267
ah cool, let me know what happens.

[2015-02-19 14:40] funkaoshi commented on #269
Presumably this would be done as a new plugin. You can see how we implemented LDAP and Kerberos support.

[2015-02-19 14:42] sibartlett commented on #269
It would need to be done as a plugin, but it would be more involved as you need to do a handshake with the OpenID provider etc.

[2015-02-19 18:26] ubilli opened #272 "Error while installing"
when i did the npm install it did not work when i goto localhost:5000,
This is the log of the command.

jobinpal@Jobinpal ~/lets-chat> sudo npm install
[sudo] password for jobinpal:
npm http GET https://registry.npmjs.org/node-xmpp-core
npm http GET https://registry.npmjs.org/socket.io-client
npm http 304 https://registry.npmjs.org/socket.io-client
npm http 304 https://registry.npmjs.org/node-xmpp

[2015-02-19 18:49] hhaidar commented on #272
What version of node / npm do you have?

[code]

And please don't run `npm install` with sudo :(

[2015-02-19 18:51] #267 closed

[2015-02-19 18:54] ubilli commented on #272
@hhaidar  1.3.10

[2015-02-19 18:56] hhaidar commented on #272
@ubilli how about 'node -v'?

[2015-02-19 18:57] ubilli commented on #272
The program 'node' can be found in the following packages:
 * node
 * nodejs-legacy
Try: sudo apt-get install <selected package>

[2015-02-19 18:59] hhaidar commented on #272
Try doing `sudo apt-get install nodejs-legacy` and then `node -v`

[2015-02-19 19:03] hhaidar commented on #272
[Here's more info on this](http://stackoverflow.com/questions/21168141/can-not-install-packages-using-node-package-manager-in-ubuntu)

[2015-02-19 19:05] ubilli commented on #272
v0.10.25 that is it response.

[2015-02-19 19:06] hhaidar commented on #272
If `node -v` worked, can you try:

[code]

You might have to run `rm -rf node_modules` with sudo.

[2015-02-19 19:19] ubilli commented on #272
the npm install has finish now but when i goto localhost:5000 it does not work.

[2015-02-19 19:20] sibartlett commented on #272
The app starts fine when you run ```npm start```?

[2015-02-19 19:23] ubilli commented on #272
a new error. when i did npm start

jobinpal@Jobinpal ~/lets-chat> npm start

/home/jobinpal/lets-chat/migroose.js:10
            if (err) { throw err; }
                             ^
Error: failed to connect to [localhost:27017]
    at null.<anonymous> (/home/jobinpal/lets-chat/node_modules/mongoose/node_modules/mongodb/lib/mongodb/connection/server.js:555:74)
    at EventEmitter.emit (events.js:

[2015-02-19 19:23] hhaidar commented on #272
You need MongoDB running :)

[2015-02-19 19:24] ubilli commented on #272
how do i do that please...

[2015-02-19 19:25] hhaidar commented on #272
[Here you go](http://www.mongodbspain.com/en/2014/08/30/install-mongodb-on-ubuntu-14-04/)

[2015-02-19 20:03] ubilli commented on #272
Please I will continue tommorow.
On Feb 19, 2015 8:25 PM, "Houssam Haidar" <notifications@github.com> wrote:

[2015-02-20 01:19] funkaoshi opened #278 "Support Slack's incoming webhook interface."
It might be useful to support messages being posted to Let's Chat using the same interface Slack uses. People who have written scripts for Slack could use them with Let's Chat.

[Incoming Webhooks in Slack](https://api.slack.com/incoming-webhooks)

[2015-02-20 02:45] geoffwhittington opened #280 "Add some logging"
There's very little logging. Unexpected events and security exceptions should be tracked somewhere that server admins can access, but application users cannot.

[2015-02-20 02:46] funkaoshi commented on #280
+11

[2015-02-20 09:25] powange commented on #193
This feature has been implementedin Slack :)

+1

[2015-02-20 11:39] fmvilas opened #282 "Add support for 1:1 chat"
Do you plan to support 1:1 chat?

[2015-02-20 12:04] abhishekgoel137 commented on #282
+1

[2015-02-20 12:08] manland commented on #282
+1

[2015-02-20 12:37] dyzajash commented on #282
+1

[2015-02-20 12:55] sibartlett commented on #282
Yes, this feature is planned.

[2015-02-20 13:16] liamdawson commented on #9
This would tie in with the concept of creating accounts on behalf of a user, no? (Set their password to a GUID and email the reset link through). Would be a step towards setting up environments where public registration is disabled but admins can add users.

[2015-02-20 13:40] ubilli commented on #272
Thanks for your support @hhaidar but i went to the link you gave me the second step
2. Generate a file with the MongoDB repository url

$ echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list
deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen

OUTPUT
deb http://downloads-distro.mongodb.org/repo/ubuntu-upsta

[2015-02-20 14:01] fmvilas commented on #282
Great! :+1:

[2015-02-20 14:38] hhaidar commented on #272
What OS are you running and which version?

Please have a look at mongodb's install docs: http://docs.mongodb.org/manual/installation/

[2015-02-20 14:41] funkaoshi commented on #272
[You might want to look at running lets chat using a Docker container.](https://github.com/sdelements/lets-chat/wiki/Docker)

[2015-02-20 14:42] funkaoshi commented on #282
Duplicate of #68

[2015-02-20 14:44] funkaoshi commented on #9
Yes, exactly. A clear next step.

[2015-02-20 14:45] micsanmo opened #283 "Error encountered while installing"
@hhaidar @azend I encountered this error while installing using npm install, assistance needed ASAP:

$ npm install
npm ERR! install Couldn't read dependencies
npm ERR! package.json ENOENT, open 'C:\Users\Meliorembsl\package.json'
npm ERR! package.json This is most likely not a problem with npm itself.
npm ERR! package.json npm can't find a package.json file in your current directory.

npm ERR! Sy

[2015-02-20 14:46] funkaoshi commented on #283
Are you running npm install in the correct directory?

[2015-02-20 14:46] hhaidar commented on #283
[code]

[2015-02-20 14:47] funkaoshi commented on #283
[You might want to look into running this application using Docker / Fig](https://github.com/sdelements/lets-chat/wiki/Docker)

[2015-02-20 15:27] sibartlett commented on #282
I don't think this is a duplicate of #68; that ticket is for encrypted OTR chats. We should've opened a separate ticket 1-to-1 chats a while ago. I'll go and rephrase the other ticket.

[2015-02-20 15:37] micsanmo commented on #283
this is the error i encountered again after cs lets-chat @hhaidar

[2015-02-20 15:40] ubilli commented on #272
thanks  gues it is working but how do i do connect with other users and upload files.

[2015-02-20 16:29] funkaoshi commented on #272
You can tell users to make accounts on your instance. You can access the file menu from the sidebar.

[2015-02-20 16:29] #272 closed

[2015-02-20 17:41] eduherraiz commented on #282
+1

[2015-02-20 18:14] hhaidar commented on #282
+1

[2015-02-20 18:57] marctc commented on #282
+1

[2015-02-20 23:02] krishnaarava commented on #282
+1

[2015-02-21 04:08] geoffwhittington commented on #266
@sibartlett  I presume people could take a look at `lets-chat-ldap` and implement it in a similar way? They could introduce some new provider key, say `noauth`, meaning the module would be called `lets-chat-noauth` and people would turn it on in the settings file

The weird part is having password fields in the UI - and any logic attached to them.

[2015-02-21 06:28] dinaakpadaman opened #286 "식보사이트↗RSD77.COM↙식보사이트"
Good luck 식보사이트↗RSD77.COM↙식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이트식보사이

[2015-02-21 06:29] dinaakpadaman opened #287 "룰렛사이트↗RSD77.COM↙룰렛사이트"
Good luck 룰렛사이트↗RSD77.COM↙룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이트룰렛사이

[2015-02-21 06:29] dinaakpadaman opened #288 "온라인식보↗RSD77.COM↙온라인식보"
Good luck 온라인식보↗RSD77.COM↙온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식보온라인식

[2015-02-21 06:29] dinaakpadaman opened #289 "인터넷식보↗RSD77.COM↙인터넷식보"
Good luck 인터넷식보↗RSD77.COM↙인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식보인터넷식

[2015-02-21 06:29] dinaakpadaman opened #290 "온라인룰렛↗RSD77.COM↙온라인룰렛"
Good luck 온라인룰렛↗RSD77.COM↙온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰렛온라인룰

[2015-02-21 06:29] #286 closed

[2015-02-21 06:30] dinaakpadaman opened #291 "인터넷룰렛↗RSD77.COM↙인터넷룰렛"
Good luck 인터넷룰렛↗RSD77.COM↙인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰렛인터넷룰

[2015-02-21 06:32] #287 closed

[2015-02-21 06:32] #288 closed

[2015-02-21 06:33] #289 closed

[2015-02-21 06:33] #290 closed

[2015-02-21 06:33] #291 closed

[2015-02-21 07:07] geoffwhittington commented on #278
Its a shame slack wants people to send their `token` as a URL parameter as it has negative security considerations. https://api.slack.com/web#auth

[2015-02-21 19:05] Twilek-de opened #294 "Vagrant doesn´t work at the moment"
Just cloned just chat and did vagrant up. After lots of installing it went down in flames with this

==> lcb: > node-expat@2.3.6 install /home/vagrant/lets-chat/node_modules/node-xmpp-core/node_modules/ltx/node_modules/node-expat
==> lcb: > node-gyp rebuild
==> lcb: make: Entering directory `/home/vagrant/lets-chat/node_modules/node-xmpp-core/node_modules/ltx/node_modules/node-expat/build'
==> lcb

[2015-02-21 21:36] geoffwhittington commented on #294
Can you provide some specifics?

- Vagrant version and platform. I just tested this on Windows 7 with 1.7.2 and it installs without any issue.
- Was this a fresh install using the default Vagrant file without modification?

[2015-02-21 22:23] Twilek-de commented on #294
Debian 64bit testing
Apt installation of virtualbox and vagrant. Unmodified vagrant file in a fresh clone from git.

[2015-02-21 22:30] geoffwhittington commented on #294
Sorry, I don't have access to Debian 64bit. What version of Vagrant and Virtualbox?

[2015-02-22 01:21] hayderimran7 opened #295 "Failed to launch letschat with fig on fresh new ubuntu environment"
I tried to set up letschat using docker/fig on a new ubuntu 14 environment but it has been failing again and again.
Here is the output im getting after runing ` fig up` .
[code]

[2015-02-22 03:23] #184 closed

[2015-02-22 05:58] hayderimran7 commented on #295
Found the issue: i was running out of hard disk (duh :/ )
Did a ` docker logs '<letschat-container-id>' ` . and it instantly showed me mongo requires more disk space for my vm.
Closing this issue, as i spin up a new vm with ~ 20Gb allocated and app is running fine now, :)
[code]
so the gist is to have ~20gb space for an ubuntu based vm , and the app will run fine with fig :+1:

[2015-02-22 05:58] #295 closed

[2015-02-22 07:23] Twilek-de commented on #294
Vagrant 1.6.5
Virtualbox 4.3.18
Both from the regular Debian repository.

[2015-02-22 08:56] SL-RU opened #297 "Add taiga support"
https://taiga.io/

But there is only one problem - it doesn't have an integrated chat. It supports proprietary chat services(slack, hipchat).

An opensource selfhosted chat integration will be perfect.

[2015-02-22 16:19] geoffwhittington commented on #294
Thanks! Next question, is this from master branch or from a tagged version of lets chat?

I can't seem to replicate using master branch. Have you looked at the npm logs?

Docker may provide you a better option. The Vagrant install still relies on dynamic installation which we can't control: your network connection, node repository selection, etc.

It would be nice if someone could post a working V

[2015-02-22 16:22] geoffwhittington opened #298 "Vagrant guest install doesn't expose ports to host"
There's a bug we introduced that means when you spin up Lets Chat using Vagrant you can't access it via the host.

The workaround is to get onto the guest VM and change `http.host ` in `settings.yml` to `0.0.0.0` and restart lets chat.

[2015-02-22 16:23] hhaidar commented on #297
Can you give more details as to what this involves doing?

[2015-02-22 16:25] geoffwhittington commented on #297
Thanks for the idea! That does sound very useful.

This is out of scope for us in the short and medium term. I invite you to fork Lets Chat and work on it.

[2015-02-22 16:26] geoffwhittington commented on #297
@hhaidar sorry, I didn't mean to step on your toes.

[2015-02-22 16:28] hhaidar commented on #297
@geoffwhittington haha no worries. I was just curious as to how integration would work. If it's just web hooks, that's pretty doable.

[2015-02-22 16:59] Twilek-de commented on #294
I followed the instructions from the wiki, so that would be the master version then. I just tried again. It would still show a couple of errors with the expat thing but would run through. Maybe it really is sonething dynamic.

[2015-02-22 17:24] howethomas commented on #282
+1

[2015-02-22 18:09] geoffwhittington commented on #294
When you say it runs through so you mean its working now - or still failing?

[2015-02-22 18:23] hhaidar commented on #283
@micsanmo you need to run `npm install` the directory that you downloaded Let's Chat. If don't know where the files are I can't really help you :(

Also, I don't recommend installing this on Windows without Docker or something.

[2015-02-22 18:23] #283 closed

[2015-02-22 18:25] hhaidar commented on #298
I know it's a security issue, but would it make sense to just make the setting promiscuous then?

[2015-02-22 18:28] Twilek-de commented on #294
The installation runs through with errors and it is working after that.

[2015-02-22 18:54] sibartlett commented on #297
Their integrations seem to be a little involved?

* [Slack](https://github.com/taigaio/taiga-contrib-slack)
* [Hipchat](https://github.com/taigaio/taiga-contrib-hipchat)

On another note, Taiga looks like a pretty interesting project - written in Python too!

[2015-02-22 18:58] geoffwhittington commented on #294
Ah cool! Not sure about those errors.
FYI I posted #298 today about Vagrant.

Can we close this issue now?

[2015-02-22 19:15] Twilek-de commented on #294
As I myself cannot really replicate it anymore you can.

[2015-02-22 19:20] #294 closed

[2015-02-22 19:56] geoffwhittington commented on #298
There are two options we can consider:
- Modify the settings file just for Vagrant (sed command) and set the option explicitly before npm start
- Pass an environment variable in the npm start in the Vagrant file and use that. I think `http.host` works?

[2015-02-22 23:28] geoffwhittington commented on #297
It looks like we might get informal Taiga integration if we work a bit more on my pull request for Slack integration. Seems Taiga is using Slack's "Incoming Webhook". I just don't like putting secrets in the URL - which we need to do if we support Slack Incoming Webhook.

[2015-02-23 01:07] memphisraynz opened #299 "File uploads in root directory"
I have just installed a new setup and the default save location is "dir: uploads" this seems to work as files are saved in this directory. The problem is I also get a file in /root/lets-chat.
eg I uploaded an .sql file. It appears in the uploads folder as 54ea7b58696c848334f32e5d and then in /root/lets-chat/ I now have a file 36bc1920b0317588bc2bd71cb9337f89.sql

I haven't changed the default conf

[2015-02-23 01:12] funkaoshi commented on #278
Oh yes, someone should tell them about that.

[2015-02-23 01:15] funkaoshi commented on #295
These are my favourite sorts of deployment queries! :smiley:

[2015-02-23 01:38] memphisraynz opened #300 "IE 11 downloading .json file"
Trying to login under Internet Explorer 11 and the  broswer tries to save the JSON response as an attachment.
The contents are simply  {"status":"success","message":"Logging you in..."}

Cheers

[2015-02-23 03:05] hhaidar commented on #299
I can't reproduce this locally, do you mind confirming it with another file?

[2015-02-23 03:26] memphisraynz commented on #299
It seems to happen to all files. I just tested a .jpg and I get the same result a file in the root directory and a matching file that has the same size in bytes.

[2015-02-23 03:30] hhaidar commented on #299
Alrighty, do you mind posting the following:

* OS
* Deployment (docker, heroku, etc..)
* Whatever is under the `file:` in your settings.yml

[2015-02-23 03:34] memphisraynz commented on #299
I am using a Centos7 installation.
Only thing different from your installation instructions is I kept getting a gyp error when using npm install. I ended up having to use "npm install -g node-gyp" for it to work.

files:
  enable: true
  provider: local
  local:
    dir: uploads
  allowedTypes:
    - 'application/vnd.hzn-3d-crossword'
    - 'video/3gpp'
    - 'video/3gpp2'
    - 'application/vnd.m

[2015-02-23 04:35] geoffwhittington commented on #299
@memphisraynz That's a lot of allowedTypes. Were you trying to accept all file types? If so, configure the setting `files.restrictTypes: false`

Sorry, back to the issue...

[2015-02-23 04:37] hhaidar commented on #299
@memphisraynz are you going through a reverse proxy or something?

[2015-02-23 04:46] geoffwhittington commented on #299
I think I know what is going on. I can reproduce locally: @hhaidar check your `/tmp` directory when you do your tests. `/root/lets-chat` must be the temporary dir on @memphisraynz 's box.

If I am correct we have a problem. We should be cleaning up the temporary file after a successful upload.

[2015-02-23 04:55] hhaidar commented on #300
Working fine for me on Windows 7 with IE11.

Does the console show any errors?

[2015-02-23 05:03] memphisraynz commented on #299
Geoff,
Thanks I have added the restrictTypes: false to allow all files.

Is  this something I have done, change the tmp directory?

[2015-02-23 05:13] memphisraynz commented on #300
Nothing, the only message I receive is the same message I've been getting from the start
express deprecated req.host: Use req.hostname instead node_modules/express.oi/lib/index.js:72:46

[2015-02-23 05:17] geoffwhittington commented on #299
@memphisraynz I don't really know much about what may going on with `/root` and your system. The expected behaviour for the file upload module is to store the uploaded file temporarily. In your case it seems to store in `/root` for some odd reason.

We're working on a fix to remove the temporary files which should mean you won't see anymore files in `/root`. How are you running lets chat - on the

[2015-02-23 05:18] hhaidar commented on #300
I mean the IE11 console: https://msdn.microsoft.com/en-us/library/ie/dn255006%28v=vs.85%29.aspx

This issue happens when javascript breaks in the login page.

[2015-02-23 05:22] memphisraynz commented on #299
Running it from the CentOS host, not using Docker or Vagrant

Thanks

[2015-02-23 05:30] memphisraynz commented on #300
After opening console I found that IE was running Intranet sites in compatibility mode. Because this is running on the local network it considers it Intranet.

[2015-02-23 05:45] hhaidar commented on #300
@memphisraynz try pulling the latest from master and restart your server. We should be sending an `X-UA-Compatible` header now.

[2015-02-23 05:49] memphisraynz commented on #300
Thanks,
One I set IE to not use compatibility mode  it works perfectly.
Cheers

[2015-02-23 05:50] hhaidar commented on #299
@memphisraynz what does `node -e "console.log(require('os').tmpDir())"` give you?

Also thanks for being patient with us :)

[2015-02-23 05:51] #300 closed

[2015-02-23 05:57] memphisraynz commented on #299
Running node -e "console.log(require('os').tmpDir())" results in /tmp

[2015-02-23 05:59] sibartlett commented on #299
@memphisraynz please try the latest from master. you will need to run npm install again

[2015-02-23 06:05] geoffwhittington commented on #260
It looks like you can connect to XMPP on 5222, is that right?

[2015-02-23 06:06] memphisraynz commented on #299
People in the office have started using it, I will pull down the latest in the morning and run again. Is there any problems with running "npm install -g node-gyp" to install?

[2015-02-23 09:21] 8cells commented on #282
:+1:

[2015-02-23 11:08] Twilek-de commented on #260
Yes on my own server with IPv6 on the test installation IPv4 and IPv6

[2015-02-23 12:30] jangrewe opened #302 "XMPP: Connect, but no Login"
My Let's Chat setup allows me use the HTTP-based chat just fine, but i can't login via XMPP. Pidgin (2.10.11) is able to connect, and i see some output on the console when enabling debugging, but then it just stays at "Connecting...", so the actual login doesn't work. Username and password should be fine, as they're working via HTTP. I have TLS enabled and use a self-signed certificate.

The outpu

[2015-02-23 14:01] liamdawson commented on #269
I'm writing an azure-ad auth plugin, but I'm unsure of the start and end points:

1. Have a button instead of a login form which the user clicks, redirecting them into the auth process
2. Redirect them off into the external auth flow (from `/auth/azure-ad/login`?)
3. Receive the callback back at a url (`/auth/azure-ad/callback`?)

Outside of those things (exposing routes, mostly), I think I can do

[2015-02-23 15:10] sibartlett commented on #302
Have you configured the XMPP host setting? That is a must for XMPP to work.

[2015-02-23 15:35] depinav opened #305 "Add ability to correct errors in previously sent message."
So in hipchat (which I use for work) theres a feature that you can use s/<error>/<correction> to correct a mistake in the last message you sent. It comes in handy with typos etc.

[2015-02-23 15:40] jangrewe commented on #302
Oh, i was under the impression that this setting controls on which address the service listens, like the HTTP setting... it's working now, thanks!

[2015-02-23 15:40] #302 closed

[2015-02-23 15:44] sibartlett commented on #302
Yeah, sorry for the confusion. We may need to rename this setting.

[2015-02-23 15:52] funkaoshi commented on #305
Duplicate of #193.

[2015-02-23 15:52] #305 closed

[2015-02-23 16:04] geoffwhittington commented on #302
For now we can update the documentation FAQ / wiki to clarify this

[2015-02-23 16:44] wilspi opened #306 "lets-chat wont start"
I have installed lets-chat in arch linux. It showed the following warning while installing
![screenshot from 2015-02-23 22 08 40](https://cloud.githubusercontent.com/assets/7404121/6332046/05a55eec-bba9-11e4-94be-3e3592444244.png)

And when npm start
![screenshot from 2015-02-23 21 51 41](https://cloud.githubusercontent.com/assets/7404121/6332052/0e2d3dbe-bba9-11e4-881b-71d5ee537ac0.png)

[2015-02-23 17:52] geoffwhittington commented on #306
I notice you're running node v0.12.0 - that may the source of your trouble? We develop and test against 0.10.x

https://github.com/sdelements/lets-chat#what-version-of-nodejs-is-required

[2015-02-23 18:11] hhaidar commented on #306
is mongodb running?

[2015-02-23 18:52] #298 closed

[2015-02-23 19:31] hhaidar commented on #306
Sorry, I was on the phone and didn't look at the entire image.

Try reinstalling your modules:

[code]

[2015-02-23 20:07] 0ptimus opened #307 "Unable to get LDAP authentication working"
Hi,

Trying to get lets-chat up and running with LDAP authentication on a FreeBSD 10 server.  It ran with the standard configuration and local authentication.  Then I installed the LDAP plugin (npm install lets-chat-ldap) and configured my settings.yml with settings like this...

'''
auth:
  providers: [ldap]

  ldap:
    connect_settings:
      url: ldap://ldap.mydomain.org:389
    bind_options:

[2015-02-23 20:18] wilspi commented on #306
@hhaidar that worked
with these errors (if nothing serious)
![screenshot from 2015-02-24 01 37 42](https://cloud.githubusercontent.com/assets/7404121/6336028/c2b7a05a-bbc5-11e4-8fa7-84ee96fe0a63.png)

![screenshot from 2015-02-24 01 33 23](https://cloud.githubusercontent.com/assets/7404121/6335939/26f218f8-bbc5-11e4-97dd-c0ef963dfc3d.png)

[2015-02-23 20:22] hhaidar commented on #306
@wilspi ah cool, great to hear.

My coworker @hanifvirani  also uses arch linux and has this issue as well.

[2015-02-23 20:22] #306 closed

[2015-02-23 21:32] xyc commented on #198
+1 for invite-only room

[2015-02-23 21:45] memphisraynz commented on #299
I did a pull from the latest git version and installed it again. The files no longer seem to fill up the lets-chat root directory.
Tested with a csv and there is nothing visible in the lets-chat folder.

Thank you

[2015-02-23 21:50] hhaidar commented on #299
@memphisraynz although this is seemingly fixed, your system still has a problem. It shouldn't be putting files in that location :(

[2015-02-23 21:50] #299 closed

[2015-02-23 21:57] geoffwhittington commented on #297
This is actually underway - the Taiga people are integration machines. Its being tracked on their end here: https://github.com/taigaio/taiga-front/issues/359

Everyone should check out their project

[2015-02-23 22:16] memphisraynz opened #309 "Startup script"
Just having a look around, I was wondering if there is already a startup script to run Let's Chat on boot or do I need to use something like PM2 to set it as a service?

Cheers

[2015-02-23 22:21] funkaoshi commented on #309
There isn't a universal startup script, no. These things vary from system to system. You should check out Launch Control, init.d, supervisord, etc.

[2015-02-23 22:21] #309 closed

[2015-02-23 22:22] funkaoshi commented on #297
:+1:

[2015-02-23 23:55] notsrg commented on #282
+2

[2015-02-24 03:55] geoffwhittington commented on #260
Ok great - good to hear!

[2015-02-24 03:55] #260 closed

[2015-02-24 04:02] geoffwhittington commented on #208
From the links @sibartlett posted it appears non-root support is achievable using these apache and nginx modules. If this is important to you I suggest that someone try these out and post their results. We will update the wiki with the information.

[2015-02-24 04:46] geoffwhittington commented on #269
@liamdawson sounds awesome! Regarding "neatly" - the best way is to show us what's working in a PR and we can comment on it. Do you have specific ideas on how you want to implement it?

[2015-02-24 08:53] liamdawson commented on #269
@geoffwhittington Nothing in particular, I'll draft something up soon-ish(tm) and make a PR. Also going to use OpenID Connect instead, for increased portability.

[2015-02-24 12:42] LouisKottmann commented on #208
@geoffwhittington the links posted suggest making nginx rewrite every page it proxies through the use of regexps... that's brittle to say the least!

[2015-02-24 13:37] jangrewe commented on #282
+1

[2015-02-24 14:17] elhoucine commented on #217
:+1:

[2015-02-24 14:18] elhoucine commented on #217
:

[2015-02-24 15:46] hhaidar commented on #307
Try this:

[code]

[2015-02-24 22:34] bado57 commented on #282
+1

[2015-02-24 23:19] bado57 commented on #198
+1 definitely private chat and password rooms.Thanks

[2015-02-25 01:57] geoffwhittington commented on #228
Is this still a problem?

[2015-02-25 02:00] hhaidar commented on #228
@TrevorHinesley @joshwand this should be fixed in the plugin!

[2015-02-25 02:00] #228 closed

[2015-02-25 02:02] hhaidar commented on #69
Closing this for now. If enough people want it we then maybe it can be viable.

[2015-02-25 02:05] geoffwhittington commented on #208
Do you mean it's brittle because the solution won't work all the time or because it requires additional processing to rewrite the pages?

I agree it's not an optimal solution, but it appears to be, at least theoretically, a solution. In your use case, has rewriting the pages with one of these options caused a noticeable impact on your server? I'm interested to know, from a project and technical po

[2015-02-25 02:09] hhaidar commented on #195
Closing this for the more general #244

[2015-02-25 02:09] #195 closed

[2015-02-25 02:13] hhaidar commented on #110
No plans do this at the moment :(

Maybe it's something a custom client can take care of.

[2015-02-25 02:13] #110 closed

[2015-02-25 02:15] geoffwhittington commented on #208
Nevertheless the issue remains open to be resolved within the code. We don't have an immediate need for this feature but if someone wants to work on it - we can point them in the right direction code-wise.

[2015-02-25 02:15] hhaidar commented on #179
It should tell you this now, albeit in an awkward way with sweetalert.

[2015-02-25 02:15] #179 closed

[2015-02-25 02:17] hhaidar commented on #153
@geoffwhittington can you give me a workable use case for this? Maybe something for our team.

[2015-02-25 02:18] hhaidar commented on #208
@LouisKottmann can you recommend a solution that works for you?

[2015-02-25 05:07] geoffwhittington commented on #282
:+1:

[2015-02-25 09:04] Finkregh commented on #69
how do you determine is there are enough ppl?

:+1:

[2015-02-25 13:59] LouisKottmann commented on #208
My solution right now is to use kiwiirc, because it is the only "serious" open source chat project out there that actually supports being hosted at a non-root path.

If I ever need non-technical people to use my chat and decide to turn to letschat, I'll take the time to implement it ;)

[2015-02-25 14:18] #208 closed

[2015-02-25 14:20] sibartlett commented on #208
@eliemichel @LouisKottmann I've pushed a fix for this - Let's Chat should now on a non-root path.

[2015-02-25 14:28] geoffwhittington commented on #208
@sibartlett Can you re-check the name of the function you added? There may still be an issue in the code

[2015-02-25 14:35] sibartlett commented on #208
Woops! Didn't stage my changes properly, now fixed.

[2015-02-25 14:47] dbr1337 opened #310 "Update not work"
Hello,
the update from git with "git pull" will not work 100 percent.
How can i be up to date everytime? The new files are loading, but where not implemented.

Greetings

[2015-02-25 14:51] sibartlett commented on #310
Pulling the latest from git, and restarting the node application should work.

Could you try that again, to make sure? I pushed an update very recently.

Also when you say the new files are loading, and not implemented - what do you mean? You mean the app won't start? Are there errors?

[2015-02-25 14:58] dbr1337 commented on #310
I pulled the newest update, and looked for the password room plugin in the file app/models/room.js but no entry for that exists. When i pull, i restart the lets chat server. Or what i must do?

[2015-02-25 15:00] sibartlett commented on #310
Password rooms has not been merged in yet. That feature is still in development, and there's currently a pull request open for it.

[2015-02-25 15:02] dbr1337 commented on #310
Okay, good.

My next question:
I need Port 5223 for XMPP in combination with SSL.
I have tls and certificates enabled, but it doesnt work with port 5223.
How can i change that?

[2015-02-25 15:07] geoffwhittington commented on #310
@dbr1337 Unfortunately we don't typically handle differing topics in the same issue: it doesn't help future users find answers to similar problems. I'm closing this issue as it looks like its solved.

Please use the mailing for deployment/implementation questions:

https://groups.google.com/forum/#!forum/lets-chat-app

[2015-02-25 15:07] #310 closed

[2015-02-25 18:20] geoffwhittington opened #311 "We need a stable master branch"
Create a develop branch

- master tracks the latest stable version people can count on
- develop is bleeding edge functionality that should not be used in production scenarios
- New feature work should be merged from a pull request into develop.
- develop can be promoted to master after we get sign-off from @hhaidar and/or @sibartlett
- Bugs in master are fixed via pull request
- Direct commits to

[2015-02-25 18:43] #311 closed

[2015-02-25 18:54] funkaoshi commented on #311
Agreed.

[2015-02-25 18:56] hhaidar commented on #311
There's already a master branch, can you put this in CONTRIBUTING.md?

[2015-02-25 19:14] sibartlett commented on #311
Do we want external people opening pull requests against develop? Maybe having them open pull requests against master is a good thing?

[2015-02-25 19:42] bado57 opened #314 "inviting room"
Do you plan inviting room plan?

[2015-02-25 20:00] funkaoshi commented on #314
Yes. This is a duplicate of #243.

[2015-02-25 20:00] #314 closed

[2015-02-25 20:30] kevindelaney commented on #182
+1 for /me

[2015-02-25 20:53] bado57 commented on #314
Thanks a lot :+1:

[2015-02-25 21:07] aixnr opened #315 "[suggestion] add single-sign on support for popular service, e.g., Google, Facebook, Twitter"
It would be great of Let's Chat has the options for SSO. How about using the [PassportJS](http://passportjs.org/)?

[2015-02-26 03:30] sammcj commented on #282
+1

[2015-02-26 03:31] sammcj commented on #68
+1

Out of interest - if you're using a client like Adium or Pidgin - does OTR work?

[2015-02-26 05:17] hhaidar opened #316 "Add Let's Chat Service to GitHub Services"
Currently there's no nice way to have GitHub post messages into Let's Chat.

We need to add a service to GitHub's official services repo: https://github.com/github/github-services

[2015-02-26 05:26] hhaidar commented on #316
Bonus points and my eternal love for [doing GitLab too](https://gitlab.com/gitlab-org/gitlab-ce/tree/master/app/models/project_services).

[2015-02-26 16:56] yiqin opened #318 "SSL Error ?"
I run npm install, but it turned out that it didn't success. I'm a beginner. Could anyone help me?

npm ERR! Additional logging details can be found in:
npm ERR!     /Users/yiqin/Desktop/lets-chat-master/npm-debug.log
npm ERR! not ok code 0

From npm-debug.log
747 info retry registry request attempt 3 at 11:51:47
748 http GET https://registry.npmjs.org/connect-assets
749 error Error: SSL Error: CE

[2015-02-26 17:07] sibartlett commented on #318
Sorry, but could you report this issue in our mailing list: https://groups.google.com/forum/#!forum/lets-chat-app

This is to ensure that future users can find answers to similar problems.

Thank you.

[2015-02-26 17:08] #318 closed

[2015-02-26 17:20] sibartlett commented on #318
You were using outdated versions of Node.js and NPM. Let's Chat requires Node 0.10

[2015-02-26 17:50] yiqin commented on #318
Thanks. It works !

[2015-02-26 19:33] depinav opened #320 "Update heroku deployed app"
Not sure if this was answered anywhere else, but I initially used the "deploy on heroku" button to get an instance of let's chap running. I was wondering what the steps were to update the currently running instance with any updates from this repo?

[2015-02-26 19:45] sibartlett commented on #320
You'll need to clone/pull the latest changes from our GitHub repository, and then force push to Heroku:

[code]

I'll update the wiki.

[2015-02-26 19:45] aixnr commented on #266
This could be a good resource to implement the passwordless authentication: "[Passwordless authentication: Secure, simple, and fast to deploy](https://hacks.mozilla.org/2014/10/passwordless-authentication-secure-simple-and-fast-to-deploy/)"

[2015-02-26 20:11] depinav commented on #320
Nice, I'll give it a shot when I get home. Thanks.

[2015-02-26 20:15] depinav opened #321 "Inline image crop"
Are there any plans to change the inline image crop and just resize the image so we can see the full thing?

[2015-02-27 01:56] geoffwhittington commented on #321
I would prefer that too, myself. In LCB 0.2 I thought there was a resize, but I could be mistaken @hhaidar?

[2015-02-27 02:01] geoffwhittington commented on #68
I imagine the OTR plugin for Pidgin would work with Lets Chat when #282 is implemented ?

[2015-02-27 02:42] sibartlett commented on #68
@geoffwhittington I tested the OTR plugin with #319 - it works :smiley: :tada:

[2015-02-27 02:45] geoffwhittington commented on #68
Wooo!

[2015-02-27 13:38] eliemichel commented on #208
@sibartlett Nice! I gonna test it soon.

[2015-02-27 16:10] maximilian-krauss commented on #254
:+1:

Hey,
is it possible that we could bump this one up? I've built a plugin for [Microsoft Azure](https://github.com/maximilian-krauss/lets-chat-azure) and thats not working when using Heroku. (I guess the S3 upload is affected too?!)

If you guys are busy we could work out an idea/solution and I do the coding and submit a PR or something :smiley:

[2015-02-27 16:58] sibartlett commented on #254
@maximilian-krauss if I have some time this weekend, I'll take a look at this - I've already done some work on this, and I just need to review it before I open a pull request.

[2015-02-27 18:42] funkaoshi commented on #321
It used to re-size to fit. Not it resizes to fit the width, and crops the height. I assume for aesthetics.

[2015-02-27 19:23] Sadicko commented on #266
Hello, please am new to GitHub and i want to you to help me understand the basic principle you discussing.

[2015-02-27 20:55] geoffwhittington commented on #61
There is a workaround for this if using XMPP 1-1 chat (pull request open)

[2015-02-28 12:05] SleeplessAnnoyedNerd opened #322 "Status change (XMPP) generates topic change?"
If we connect via XMPP to our let's Chat instance (via Adium/Mac or Pidgin/Linux) and user changes his status he gets "topic changed" message (s. screenshot ("user X has changed topic to"), sorry for German text). This is a bit of an annoyance b/c history is filled w/ these useless messages.

![jdgbcbia](https://cloud.githubusercontent.com/assets/2134355/6426128/d0a8204a-bf49-11e4-8892-b2e9d965fdf

[2015-02-28 16:12] erlend-sh opened #323 "Fig up is succeeded by docker-compose up"
Your [Docker install guide](https://github.com/sdelements/lets-chat/wiki/Docker) should be updated to refrlect Fig's recent renaming.

http://blog.docker.com/2015/02/announcing-docker-compose/

[2015-02-28 17:30] sibartlett commented on #323
Thanks, the documentation has been updated.

We'll rename the fig.yml file, in a future release.

[2015-02-28 17:30] #323 closed

[2015-02-28 17:31] sibartlett commented on #322
This has been annoying me too, I'll work on a fix for this.

[2015-03-01 03:59] sibartlett commented on #39
Transcript search has been merged into master.

[2015-03-01 03:59] #39 closed

[2015-03-01 04:00] sibartlett commented on #322
This has been fixed on master.

[2015-03-01 04:00] #322 closed

[2015-03-01 04:01] sibartlett commented on #254
This has been addressed on master. Plugins need to provide a "defaults" object, please see our plugins (ldap/kerberos/s3) for examples.

[2015-03-01 04:01] #254 closed

[2015-03-01 04:08] hhaidar commented on #221
Fixed in master.

[2015-03-01 04:08] #221 closed

[2015-03-01 07:46] maximilian-krauss commented on #254
@sibartlett that's great. Thank you very much :+1:

[2015-03-01 13:42] geoffwhittington opened #328 "Create a CHANGELOG.md"
Track high level changes to the source code in a single file

[2015-03-01 14:46] geoffwhittington commented on #153
Twitter feed, Ongoing Zendesk counts, Jira release open/closed, Dog fooding task completion. I guess it would be a small dashboard but with the data relevant to the room its in.

[2015-03-01 20:59] TuxOtaku commented on #219
+1 for pushbullet. Growl might be a nice addition too, but overall I kinda feel @hhaidar had the right idea with cooking up our own notification plugin API.

[2015-03-01 23:23] #328 closed

[2015-03-01 23:52] sibartlett commented on #320
@depinav Did it work?

[2015-03-02 00:37] geoffwhittington commented on #328
I'm impressed! I figured we'd just start at 0.3.8 but you went retroactive to 0.3!

Good job! :+1:

[2015-03-02 01:27] funkaoshi commented on #328
Well done!

[2015-03-02 01:35] funkaoshi commented on #320
@depinav if it didn't, can you please move the discussion over to our [mailing list](https://groups.google.com/forum/#!forum/lets-chat-app). We will use Github issues solely for tracking feature work and bugs going forward. Thanks.

[2015-03-02 01:35] #320 closed

[2015-03-02 02:14] jackiekaye89 opened #329 "errno 34 on npm install"
[code]

I get that when I type npm install from the "/home/jackiekaye89/Public/Projects/Misc/Other/lets-chat" directory. That's not the full log, I'll upload the full .log file to a gist and link to it in a second.

[2015-03-02 02:17] jackiekaye89 commented on #329
here's the link to the [debug log](https://gist.github.com/jackiekaye89/a96f957e2e13621b4cd9) from NPM

[2015-03-02 03:01] sammcj commented on #241
Totally understand.

This makes lets-chat a no-go for organisations that want to use their existing database of choice which is one of the big advantages to using a standard ORM / abstraction layer (such as activerecord for Ruby etc...).

As the 'Mongo hype' has finally worn off and people are now cautious of MongoDB (and rightfully so) I think you'll find that quite a few people are hesitant to r

[2015-03-02 03:36] aixnr commented on #266
The [Persona project by Mozilla][https://developer.mozilla.org/en-US/Persona], worth checking (another solution for passwordless setup).

[2015-03-02 06:05] hhaidar commented on #329
Try this:

[code]

Also what version of node/npm do you have?

[2015-03-02 06:48] jackiekaye89 commented on #329
uhh, just realized that I may know the reason it's not working XD I *don't* have node installed, I use ioJS XD

[2015-03-02 06:49] hhaidar commented on #329
hah, let me know what happens :)

[2015-03-02 06:49] jackiekaye89 commented on #329
what do you mean?

[2015-03-02 06:51] hhaidar commented on #329
Like if installing node doesn't work.

We don't officially support io.js yet.

[2015-03-02 07:16] jackiekaye89 commented on #329
is there no apt-get install for nodejs? the only things I can find is to build it from source XD

[2015-03-02 07:40] jackiekaye89 commented on #329
okay got nodejs installed

this error:

npm ERR! cb() never called!

is what I'm getting now.

[2015-03-02 07:45] DarkCobalt opened #330 "Password on Room"
I have a request to you so that you have added a password to the rooms. Simply input to create password, as yet maybe without capabilities change.
Thanks for super chat :)

[2015-03-02 07:48] jackiekaye89 commented on #329
okay, so nevermind on the previous error, I added permissions to certain node folders and that error went bye bye, but what are these ones for and how do I fix them?

[code]

[2015-03-02 12:31] esseks commented on #246
@JohnTheodore I'm afraid neither Pidgin nor Adium nor any purple client is good at IRC. They probably implemented so that they could add a row in the support checklist, but the usability is pretty dreadful and most IRC features, like modes, several authentication options and lists/ban are missing. Also, they aren't actively developed anymore.

[2015-03-02 14:29] funkaoshi commented on #329
Please move the discussion over to the [Let's Chat mailing list][1]. Github issues should be used to track features and bugs in the code.

[1]:https://groups.google.com/forum/#!forum/lets-chat-app

[2015-03-02 14:29] #329 closed

[2015-03-02 14:30] funkaoshi commented on #330
Duplicate of #198

[2015-03-02 14:30] #330 closed

[2015-03-02 15:06] jackiekaye89 commented on #329
how is this not an issue? I can't figure out how to get the thing up and running, obviously for either one of two reasons... either I'm just stupid, or your documentation needs to be clarified. However, this is still an issue, and not a 'discussion'

[2015-03-02 16:09] sibartlett commented on #329
@jackiekaye89 will the app run, even with those NPM warnings?

[2015-03-02 16:13] funkaoshi commented on #329
@jackiekaye89  Sure, but you should discuss this _issue_ on the mailing list. That's where we are trying to move the discussion of all deployment issues. If there is a specific problem with our documentation or a bug in our code, we can then make an issue or pull request to update as needed. As it stands support requests were clogging up the Github issue tracker, which isn't a good place for this

[2015-03-03 11:14] wahaha2001 opened #332 "express deprecated req.host: Use req.hostname instead node_modules/express.oi/lib/index.js"
Got this error when try to login with LDAP option, tried upgrade the express.io to the latest version, but still got same error.  Not sure if this error caused I can't login with LDAP.

How can I fix this?  Thanks.

[2015-03-03 11:45] liamdawson commented on #269
It's taking me longer than I predicted to get to this, so if someone else is looking to do it, don't wait on me.

[2015-03-03 13:50] geoffwhittington commented on #332
This is more of a warning, than an error. Word of warning: we use `express.oi` not `express.io`.

LDAP should work regardless of the warning. Someone on https://groups.google.com/forum/#!forum/lets-chat-app may be able to help troubleshoot LDAP

[2015-03-03 13:55] nicklegr opened #333 "Wrong URL link target"
URL in message is auto-linked, but link target is wrong in some cases.

For example, When I post a URL below:
https://github.com/sdelements/lets-chat/wiki/API%3A-Messages#post-messages

It's displayed correctly, but actually linked to:
https://github.com/sdelements/lets-chat/wiki/API%253A-Messages#post-messages

I think '%' should not be escaped in this case.

Tested on heroku and docker with mast

[2015-03-03 18:30] geoffwhittington commented on #246
@esseks based on your list above, I'm doubtful Lets Chat would even support all of those if we implemented IRC.

It appears you want a IRC server implementation not just support. Does Slack or HipChat give you all the features you list?

[2015-03-03 21:20] mikeohara commented on #198
+1 for sure

[2015-03-03 21:24] afaqurk commented on #217
:+1:

[2015-03-03 22:27] antoinealb opened #335 "Do not show current user in mention autocomplete"
It would be better if the @ mentions did not suggest the user typing in the list, or at least last, since it is very unlikely that the user will poke himself.

Thanks for the great app by the way !

[2015-03-03 22:31] funkaoshi commented on #335
Hah. Good catch.

[2015-03-03 23:11] K3r0sen opened #336 "Install didn't work on Debian wheezy"
Please advice

npm-debug.log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'owner', 'ls', 'lets-chat' ]
2 info using npm@1.4.28
3 info using node@v0.10.36
4 verbose node symlink /usr/bin/node
5 verbose request where is /lets-chat
6 verbose request registry https://registry.npmjs.org/
7 verbose request id 6b95e3cb0ccbb456
8 verbose url raw /lets-chat
9 verbos

[2015-03-04 00:48] geoffwhittington commented on #336
Hi, can you post this issue and, importantly, the command you ran to get this output to:

https://groups.google.com/forum/#!forum/lets-chat-app

[2015-03-04 00:48] #336 closed

[2015-03-04 02:56] geoffwhittington commented on #252
With the cors pull request we can't set a default for the new `Origin` whitelist setting - its dependent on how people deploy the server.

If we're not going to make all settings secure by default (this case) we should be telling the user on startup that settings a, b, c, and d are not set or are set insecurely (to the best of our capability). I don't think its right that deployments like Heroku d

[2015-03-04 08:42] airyland opened #337 "Not support outgoing webhooks?"
Like https://api.slack.com/outgoing-webhooks

[2015-03-04 14:07] mikeohara opened #338 "Uploading certain files (local) causes a "Bad Request" notice."
Uploading a spreadsheet (xlsx) file into Lets-Chat seems to cause a "Bad Request" error during upload.

![screenshot 2015-03-04 10 07 28](https://cloud.githubusercontent.com/assets/10249051/6484923/4d99d6de-c256-11e4-8402-54befd4f89a5.png)

We are running some tools like ModSecurity and various monitoring tools on the same environment, would that interfere with this?

[2015-03-04 15:29] sibartlett commented on #338
There are configuration settings for whitelisting file types, I think that may be the issue on your installation: https://github.com/sdelements/lets-chat/wiki/Files

Error messaging is definitely something we need to improve upon.

[2015-03-04 15:43] MitchK opened #339 "Web app empty response"
Hi

we would like to evaluate Let's Chat on premise. For that, we need to use a custom Docker image. This is the ```Dockerfile``` we have:

**Dockerfile**
[code]

**settings.yml**
[code]

**bootstrap.sh**
[code]

When I run this, everything looks fine:
[code]

But I can't reach the host:
[code]

[2015-03-04 15:45] funkaoshi commented on #339
Hey, could you please move this question over to the [Let's Chat mailing list][1]. That's where we are trying to deal with any support issues.

Github issues should be used to track features and specific bugs in the code.

[1]:https://groups.google.com/forum/#!forum/lets-chat-app

[2015-03-04 15:45] #339 closed

[2015-03-04 15:52] MitchK commented on #339
Thanks, will subscribe. Just a tip: Labeling also does the trick, because many people hate mailing lists because of reasons.

[2015-03-04 16:53] funkaoshi commented on #339
@MitchK We are hoping the mailing list will encourage people to help each other out, and will also be easier to search.

[2015-03-04 20:58] geoffwhittington commented on #337
Not at present. Depending on your use case you can hook up a Hubot with Lets Chat to do some of what you want.

Would you or someone you know be interested in sending us a pull request to add that feature?

[2015-03-04 21:47] #332 closed

[2015-03-04 23:43] mikeohara commented on #338
My Config file is as follows (relivent portion)

`files:`
 ` enable: true`
 ` provider: local`
 ` maxFileSize: 1000000000`
 ` local:`
 `   dir: uploads`

`xmpp:`
`  enable: false`
`  port: 5222`
`  host: localhost`

I am not currently restricting any file types. Or is it that I have to explicitly allow file types for them to work by default?

[2015-03-05 00:23] sibartlett commented on #338
Files are restricted by default.

You can turn this restriction off, but doing the following:

[code]

Or whitelist more file types, doing this:

[code]

[2015-03-05 01:49] mikeohara commented on #338
That did it!

Thanks!

*Mike O'Hara*
O'Hara Consulting
*O:* (506) 387-6100
*C:* (506) 962-6100

Twitter <http://twitter.com/#%21/mike_ohara> | Linkedin
<http://ca.linkedin.com/in/mikerohara>

On Wed, Mar 4, 2015 at 8:24 PM, Simon Bartlett <notifications@github.com>
wrote:

[2015-03-05 01:49] #338 closed

[2015-03-05 02:33] geoffwhittington commented on #338
Great to hear @mikeohara ! I've updated https://github.com/sdelements/lets-chat/wiki/Files to clarify things. Please read it over for the additional security note.

[2015-03-05 02:43] hanifvirani commented on #196
+1

[2015-03-05 06:57] JohnTheodore commented on #246
Slack irc has problems. It goes down fairly often. It does things like track if someone is 'active' or not, based on if they have a voice. So when someone goes from active to not, they get devoiced in all the channels they're in. and vice versa when they come back. There are ways to ignore this in say irssi. but slack irc is lacking in many areas.

[2015-03-05 10:07] higebu commented on #79
+1

[2015-03-05 12:22] tily commented on #79
+1

[2015-03-05 12:25] MitchK opened #341 "Feature: Sign in with GitHub"
I have started to create a GitHub auth module as we use GitHub Enterprise SSO for our dev tools internally.

https://github.com/MitchK/lets-chat-github
(Not yet working, I'm still hacking stuff)

I'm using the GitHub passport module.

Questions:

 * Is the Express app somewhere exposed so I register new endpoints? E.g. for the OAuth callback
 * GitHub SSO makes the login form fields become obsolet

[2015-03-05 12:40] MitchK commented on #315
I have started to create a module for GitHub/GitHub Enterprise:
https://github.com/sdelements/lets-chat/issues/341

[2015-03-05 14:23] Uelee opened #343 "A few suggestions"
1.Permissions are not clear, anyone can establish a room, you can delete the others in room, use of unsafe
2.Room names does not support Chinese
3.Registry link control is not easy, you need to change the file: settings.yml implementation，Enrollment support via email registration
4.User-created rooms require approval，Support room management
5.Support for custom avatars，Input box paste the file sup

[2015-03-05 15:04] notsrg commented on #343
A few of these already have issues created for them and plan to be addressed in the future.

Just by searching I have found:
https://github.com/sdelements/lets-chat/issues/4
https://github.com/sdelements/lets-chat/issues/33

Please read the contributing guidelines before creating an issue next time as not following these rules makes it harder to maintain the backlog of work to be done.
https://git

[2015-03-05 15:04] #343 closed

[2015-03-05 15:40] Uelee commented on #343
Thk

[2015-03-05 20:26] rockneverdies55 commented on #316
+1 for gitlab, too...

[2015-03-05 21:13] rockneverdies55 opened #344 "Feature: Jitsi-Videobridge support for audio/video functionality"
Having [jitsi-videobridge](https://github.com/jitsi/jitsi-videobridge) (https://jitsi.org/Projects/JitsiVideobridge) plugin for audio/video functionality would be nice to have.

As far as I know, couple other well-known xmpp servers (e.g. openfire, ejabberd) already have a plugin for jitsi-videobridge.

[2015-03-06 08:12] Intendit commented on #316
Wouldn't it be better to use hubot for that?

[2015-03-06 20:28] jbcpollak commented on #219
I've been dreaming if replacing an email discussion mailing list with something like Let's Chat. If there were a plugin API, a bi-directional email gateway could be written and that would do exactly what I need.

[2015-03-06 21:24] rockneverdies55 commented on #81
:+1:

[2015-03-07 04:27] xyc commented on #282
+1

[2015-03-07 15:13] fernandomoraes commented on #282
+1

[2015-03-08 10:56] 3588 opened #346 "npm start can't start"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/node/bin/node', '/usr/sbin/npm', 'start' ]
2 info using npm@2.5.1
3 info using node@v0.12.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart lets-chat@0.3.8
6 verbose unsafe-perm in lifecycle true
7 info start lets-chat@0.3.8
8 verbose unsafe-perm in lifecycle true
9 info lets-chat@0.3.8 Failed to exec start s

[2015-03-08 11:04] 3588 commented on #346
try move to nodejs v0.10.9

[2015-03-08 11:26] 3588 commented on #346
0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.7.0
3 info using node@v0.10.9
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart lets-chat@0.3.8
6 verbose unsafe-perm in lifecycle true
7 info start lets-chat@0.3.8
8 verbose unsafe-perm in lifecycle true
9 info lets-chat@0.3.8 Failed to exec start script
10 verbos

[2015-03-08 11:27] 3588 commented on #346
try move to x86

[2015-03-08 13:33] geoffwhittington commented on #346
Hello, could you please use https://groups.google.com/forum/m/#!forum/lets-chat-app

For your deployment question? Also, please post your operating system, etc

[2015-03-08 13:33] #346 closed

[2015-03-09 08:28] tobor opened #347 "enable xmpp error"
Cannot load StringPrep-0.7.0 bindings (using fallback). You may need to `npm install node-stringprep`

[2015-03-09 08:42] tobor commented on #347
npm ERR! extraneous: node-stringprep@0.7.0 /opt/lets-chat/node_modules/node-stringprep
npm ERR! not ok code 0

[2015-03-09 14:30] BornLuna opened #348 "Ubuntu 14.04 Server npm start issue"
I'm trying to setup lets chat on a ubuntu 14.04 server. I setup everything the readme file and website said and when I go to run "npm start" I get the following:

[code]

[2015-03-09 18:40] hhaidar commented on #348
`sudo apt-get install nodejs-legacy`

[2015-03-09 18:42] hhaidar commented on #348
also, please don't run this as root... :(

[2015-03-09 19:09] notsrg commented on #348
Please do not use the issue tracker for personal support requests, instead use our mailing list:
https://groups.google.com/forum/#!forum/lets-chat-app

[2015-03-09 19:09] #348 closed

[2015-03-09 21:33] geoffwhittington commented on #347
We don't have a lot of context to work with here: like your OS, node, npm versions, what you ran, what exactly is not working, etc.

Please use the mailing list for your deployment issue: https://groups.google.com/forum/#!forum/lets-chat-app

[2015-03-09 21:33] #347 closed

[2015-03-09 21:34] geoffwhittington commented on #344
Agreed, any sort of audio/video integration would be great!

Do you have any specific ideas how we might implement this?

[2015-03-10 10:12] hsitaa commented on #217
Is its implementation being done. Or this issue is on hold for now. ?

[2015-03-10 11:20] Fibrewire opened #349 "Upload causes MIME type error"
Running Ubuntu 14.04.1 LTS
![capture](https://cloud.githubusercontent.com/assets/2836205/6573896/4748255e-c717-11e4-88df-050c63e67b79.PNG)
![capture2](https://cloud.githubusercontent.com/assets/2836205/6573897/47482612-c717-11e4-8ff5-3ecc27555900.PNG)

[2015-03-10 14:14] geoffwhittington commented on #349
Your file upload settings are not setup the way you want. Please check the wiki for more details about setting this up:

https://github.com/sdelements/lets-chat/wiki/Files

[2015-03-10 14:14] #349 closed

[2015-03-10 17:15] funkaoshi commented on #217
@hsitaa no one is working on this right now.

[2015-03-11 03:05] mekery opened #350 "npm start failed with "sh: 1: migroose: Permission denied""
Hi guys,

I got errors when perform 'npm start'.
My environment is node -v v0.10.28, npm -v 1.4.9.

Thanks in advance!

$ npm start

sh: 1: migroose: Permission denied

npm ERR! Exit status 126
npm ERR!
npm ERR! Failed at the lets-chat@0.3.8 prestart script.
npm ERR! This is most likely a problem with the lets-chat package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on

[2015-03-11 03:18] geoffwhittington commented on #350
Hi @mekery  There's doesn't seem much there to go on, unfortunately. Permission issues are typically beyond the scope of the project. Please use the mailing to post your deployment issue:

https://groups.google.com/forum/#!forum/lets-chat-app

Be sure to post the contents of your redacted debug log: `/micle/tech/git/github/mekery/lets-chat/npm-debug.log`

[2015-03-11 03:18] #350 closed

[2015-03-11 03:46] mekery commented on #350
Thanks @geoffwhittington

[2015-03-11 05:26] hsitaa commented on #217
oh that means if the user forgets his password then its lost no recovery because no admin. So its all previous chats lost. and
* it won't allow creation of new logins with same email id.
* No way to recover password or get the email id free to create new account.

Pretty lock down scenario. In case if want to use in live scenario.
A big road block. coz password recovery is a most common issue at o

[2015-03-11 05:36] hsitaa commented on #9
Surely a needed one.

[2015-03-11 05:45] hsitaa opened #351 "Forgot Password . Account Recovery option"
if the user forgets his password then its lost no recovery because no admin. So its all previous chats lost. and

    it won't allow creation of new logins with same email id.
    No way to recover password or get the email id free to create new account.

Pretty lock down scenario. In case if want to use in live scenario.
A big road block. coz password recovery is a most common issue at organizati

[2015-03-11 05:59] hsitaa commented on #307
@0ptimus have you tried the solution given by @hhaidar  did it worked for you ? Please do comment if it did.

[2015-03-11 07:32] bessarabov commented on #351
I think that at this level you should not use Local authentication, but instead use  Kerberos / LDAP. In this case the passwords will be stored an managed outside lets-chat.

Concerning your problem. I'm sure that is possible to connect to mongo manually and fix password direct in the database. I don't know the details but I think that is should be pretty easy.

[2015-03-11 14:12] sibartlett commented on #351
We hope to have a password reset feature in the next release.

This hasn't been a high priority for ourselves as we use Kerberos and LDAP, but we understand how important it is for others.

If someone wants to contribute to this feature - that'd be even more awesome!

[2015-03-11 14:17] funkaoshi commented on #217
Yes, we understand why this is useful. I'm just saying we have to prioritize the work we do. It's here in our issues because it's on our roadmap.

[2015-03-11 21:54] hhaidar commented on #321
Fixed via d1080ad5b016e22e9f3d4f65f15b32d679e8d3df

[2015-03-11 21:54] #321 closed

[2015-03-12 00:34] funkaoshi commented on #351
Yeah, we fix "local" accounts by fixing things in Mongo directly. It's no ideal, but as noted we manage all our users externally currently.

Also, might just want to merge this with #9.

[2015-03-12 06:48] chiel1980 commented on #198
+1

[2015-03-12 06:51] chiel1980 commented on #158
This would also be nice for xmpp and perhaps use the mozilla prefered cipher list:https://wiki.mozilla.org/Security/Server_Side_TLS#Intermediate_compatibility_.28default.29

[2015-03-12 09:11] asaladin commented on #246
Hi,

We would need IRC integration too, in order to move away from our current system

[2015-03-12 14:08] Roobyx opened #352 "Unknown migration error with migroose on Windows."
I installed everything fine, the problem is that when I'm trying to do npm start it runs the migration command and it opens up the migroose.js which is unchanged, however it always responds with the message "Database migration required" and closes the application.

Im running mongodb fine on the default hosing port. I think the problem is that migroose connect function is not running. When I try t

[2015-03-12 15:28] betashepherd opened #353 "events.js:72 throw er; // Unhandled 'error' event"
npm --version
1.3.6

bash-4.1$ npm start

██╗     ███████╗████████╗███████╗     ██████╗██╗  ██╗ █████╗ ████████╗
██║     ██╔════╝╚══██╔══╝██╔════╝    ██╔════╝██║  ██║██╔══██╗╚══██╔══╝
██║     █████╗     ██║   ███████╗    ██║     ███████║███████║   ██║
██║     ██╔══╝     ██║   ╚════██║    ██║     ██╔══██║██╔══██║   ██║
███████╗███████╗   ██║   ███████║    ╚██████╗██║  ██║██║  ██║   ██║
╚══════╝╚═══

[2015-03-12 15:31] funkaoshi commented on #353
Hey, could you please move this question over to the [Let's Chat mailing list][1]. That's where we are trying to deal with any support issues.

Github issues should be used to track features and specific bugs in the code.

[1]:https://groups.google.com/forum/#!forum/lets-chat-app

[2015-03-12 15:31] #353 closed

[2015-03-12 15:32] hhaidar commented on #353
@betashepherd change your port setting, you probably have something running on 5000 already

[2015-03-12 15:34] Intendit commented on #352
Encountered the same error, I simply commented out lines 255 to 264 in app.js to get it to run, but I'm suspecting that this issue is windows specific?

[2015-03-12 15:43] sibartlett commented on #352
Yes, it seems to be a Windows-specific issue, we've also had another Windows user report the same error and work-around.

Commenting out lines 255 to 264 in app.js - is our suggested workaround for now.

[2015-03-12 21:30] Roobyx commented on #352
Thanks for the solution. Worked as much as needed.

[2015-03-12 22:47] Intendit commented on #352
Could we keep this issue open?
If windows compatibility is a goal it should be,

[2015-03-13 01:49] funkaoshi commented on #352
Good point, i'll re-open.

[2015-03-13 10:43] chiel1980 opened #354 "Only allow HTTPS links in the web chat to ensure no mixed content is shown in the web chat"
I got mixed content errors in chrome because I copied a HTTP link which is rendered in the chat itself and thus provides mixed content of HTTP and HTTPS.
Please make it possible to only allow external HTTPS links so there are nog mixed content warning.

[2015-03-13 15:42] Chronos6 opened #355 "Make hashtag feeds possible"
It would be very useful if it would be possible to create feeds aside of rooms what shows the mentioning of hashtags (on click, what is saveable).

[2015-03-13 15:46] Chronos6 commented on #282
+1

[2015-03-13 15:48] Chronos6 commented on #196
+1

[2015-03-13 15:51] Chronos6 commented on #222
#176 is closed, could one of them be opened?

[2015-03-13 15:52] Chronos6 commented on #176
+1 that would be cool.

If there would be a counter also, after clicking on it you could see who liked the comment.

[2015-03-13 16:05] Chronos6 opened #356 "Implement room/user/hashtag task handling"
Rooms, users and hashtags could have a task list. It would be nice to have tasks (like in Wunderlist or any task handling app) what you could assign to somebody or something and it could be prioritized, marked and described. The task list should be as simple as possible with as much flexibility as possible.

An alternative could be to link Let's-Chat to an existing task handling app.

My user stor

[2015-03-13 17:01] hhaidar commented on #356
How about [something like this](https://github.com/github/hubot-scripts/blob/master/src/scripts/tasks.coffee)

[2015-03-13 17:13] Chronos6 commented on #356
That's a good start! I think it would be needed to be visual, part of the GUI and its essential to bound it to any object you can think of. I listed three, but that could be extended.

[2015-03-13 21:08] geoffwhittington commented on #356
This sounds pretty cool - integrated tasks with arbitrary objects. I might even use it.

But I don't think we should build it. There is a lot of opportunity for scope creep beyond what would be considered a chat application. Even if we did want to tackle this - it would be prioritized so low on the list of features that it wouldn't get worked on until 2018 given the resources we have.

We do alrea

[2015-03-13 21:08] #356 closed

[2015-03-13 22:36] geoffwhittington commented on #354
Depending on who you talk to this is a feature or a bug. But I agree with you. I would even like the ability to whitelist what server names are even supported in links/images.

[2015-03-13 23:04] dleslie commented on #79
+1

[2015-03-14 20:25] kingsumos commented on #269
what about using passport.js instead?
(to support oauth as well)

[2015-03-15 09:12] betashepherd commented on #353
oh, yeah, got it. I have run psdash on port 5000, many thks.

[2015-03-16 14:15] zwarmapapa opened #361 "IFrames, how do I allow them?"
I want Let's Chat to allow IFrames to intigrate Let's Chat into our system, but I couldn't find anything in the code that sets the x-frame-option to sameorigin.

How do I allow Let's Chat to be IFramed?

[2015-03-16 14:28] geoffwhittington commented on #361
Check out:

https://github.com/sdelements/lets-chat/blob/master/app.js#L78

The application sends "X-Frame-Options:SAMEORIGIN" as a security protection. Details of the `helmet.frameguard()` call is available here:

https://github.com/helmetjs/frameguard

[2015-03-16 14:46] zwarmapapa commented on #361
Awesome, I first commented out "app.use(helmet.frameguard());", but that caused the connection to immediately break when using Let's Chat in an IFrame. After that I commented out everything from helmet and now IFrames work!

Thanks!

[2015-03-16 15:21] chiel1980 opened #362 "DIfference active users between XMPP and HTTP interface"
It seems there is a difference between XMPP and the lets-chat HTTP interface:

I do see people in the rooms (and thus logged in) but I don't see them as active users in a XMPP client such as Adium (they are offline users).
Not sure if this is a feature or is a bug, I would expect that both interfaces share the same active roster list.

[2015-03-16 15:23] notsrg commented on #362
Currently private messaging is only supported between other XMPP users. Supporting this in the web UI is on the roadmap.

[2015-03-16 15:23] #362 closed

[2015-03-16 15:24] geoffwhittington commented on #361
I hope you are running Lets Chat in a secured environment and you're aware of impacts of disabling the helmet options.

Enjoy!

[2015-03-16 15:24] #361 closed

[2015-03-16 15:34] chiel1980 commented on #362
I am not sure if that is the same: sharing a roster (seeing who us online) and private messaging between users.
But if this will be fixed by the other reported issue then I am happy with closing this ticket :)

[2015-03-16 15:38] sibartlett commented on #362
@chiel1980 when you say roster, do you mean your Adium friend list (roster) or the user list once you have entered a room in Adium?

The friend list (roster) will not show any users, until we have implemented 1-to-1 chat.

[2015-03-16 15:48] chiel1980 commented on #362
The first, friend list or active users in Adium, but then I have to wait for the 1-to-1 chat feature :+1:
Will this also be bundled with the password room in 1 release?

[2015-03-16 15:50] hhaidar commented on #361
![image](https://cloud.githubusercontent.com/assets/1066160/6669996/a7755c48-cbd2-11e4-81f8-a5a52a60b1ca.png)

[2015-03-16 15:51] hhaidar commented on #353
@betashepherd nice, glad to hear!

[2015-03-16 15:53] bodiam opened #363 "Enable file upload with docker-compose"
Hi all,

I'm probably missing something here, but I'm trying to enable the file uploads, but I'm failing.

I'm using docker-compose, and I'm running lets-chat via `docker-compose up`. All works fine, but now I want to enable file uploads, which I did by creating a settings.yml file in the checked out sources, and I've put in the following:

     files:
      enable: true
      provider: local

[2015-03-16 15:56] funkaoshi commented on #363
Hey, could you please move this question over to the [Let's Chat mailing list][1]. That's where we are trying to deal with any support issues.

Github issues should be used to track features and specific bugs in the code.

[1]:https://groups.google.com/forum/#!forum/lets-chat-app

[2015-03-16 16:14] bodiam commented on #363
For sure. Sorry for polluting the issues, I had not seen the mailing list!

[2015-03-16 16:14] #363 closed

[2015-03-16 18:30] funkaoshi commented on #363
@bodiam No problem. You aren't the first person to post such a question here :P.

[2015-03-17 01:46] gustavosiqueira94 opened #364 "MongoDB configuration"
I'm trying to install Let's Chat and I'm having trouble to configure mongodb properly for its authentication. Made a search on web and checked files trying to find where this can be configured but failed. How can I configure a mongodb connection using the fields username and passwrod for authentication?

[2015-03-17 01:49] hhaidar commented on #364
Something like this should work:

[code]

See: http://docs.mongodb.org/manual/reference/connection-string/

[2015-03-17 02:27] owlmsj commented on #282
+1

[2015-03-17 02:29] lucasoares commented on #282
+1

[2015-03-17 02:31] BrayanNeves commented on #282
+1

[2015-03-17 14:58] gustavosiqueira94 commented on #282
+1

[2015-03-17 19:46] dfyx commented on #246
Another project that might be worth looking at is https://github.com/gitterHQ/irc-bridge

They implement a pretty simple IRC server to act as a bridge to gitter.im. There's not that much code so it might be possible to learn from it and write a pretty simple IRC implementation for Let's Chat.

[2015-03-18 13:49] apotry opened #366 "let's chat in subdirectory"
I'm trying to run Let's chat as part of another website. So far I have only been successful in running Let's chat on http://my-domain.com, but I'd really need it to run in a subdirectory on the server, say http://my-domain.com/chat - how and where can I edit the "base_url" of the site?

[2015-03-18 15:31] TEugen commented on #282
How is this going? Should we put a bounty on it?

[2015-03-18 19:19] hhaidar commented on #366
You'll need to proxy behind nginx, apache or some other configuration.

We don't officially support this by the way :(

See: #208 and http://nginx.com/blog/websocket-nginx/ and

[2015-03-18 19:20] hhaidar commented on #364
@gustavosiqueira94 did you end up getting it to work?

[2015-03-18 20:59] geoffwhittington commented on #366
Someone has been working with nginx already apparently. Check the mailing list where we discuss deployment issues:

https://groups.google.com/forum/m/#!forum/lets-chat-app

Maybe you can find your answer there?

[2015-03-19 19:48] macbroadcast opened #367 "lets-chat on ubuntu 14.04 LTS"
hey there, awsome app :heart_eyes:

So I installed lets-chat without any problems on my local ubuntu machine (14.10 ) (node v0.10.32, npm 1.4.28, mongodb version v2.6.5, Python 2.7.8 )

but trying to install on Ubuntu 14.04.1 LTS droplet (node v0.10.32,npm 1.4.28, mongodb version v3.0.1, Python 2.7.6 ) gives me an:

[code]

This is the  npm-debug.log http://pastebin.com/x5WbZ2k3

What could be wro

[2015-03-19 20:04] hhaidar commented on #367
try reinstalling your node_modules:

[code]

[2015-03-19 21:34] apotry commented on #366
Thanks for the advice - I managed to get this working with nginx, manually redirecting subdirectories to the corresponding paths.

[2015-03-19 22:40] macbroadcast commented on #367
thanks strange ....```javascript
#:~/lets-chat# rm -rf node_modules
#:~/lets-chat# npm cache clean
#:~/lets-chat# sudo npm install
npm WARN engine mongoose-validate@0.0.5: wanted: {"node":"0.8.x"} (current: {"node":"0.10.32","npm":"1.4.28"})
#:~/lets-chat# npm start

module.js:340
    throw err;
          ^
Error: Cannot find module 'rsvp'
    at Function.Module._resolveFilename (module.js:338:15)

[2015-03-19 23:15] ZloyDyadka opened #368 "Is it possible to scale?"
Is it possible to scale the application?

[2015-03-20 00:13] geoffwhittington commented on #366
Awesome. Can you post a config that works? I'm sure other people will appreciate it.

Thanks!

[2015-03-20 00:34] geoffwhittington commented on #368
Please use the mailing list for discussion and questions. We track bugs and feature requests here.

Thanks

[2015-03-20 00:34] #368 closed

[2015-03-20 00:57] geoffwhittington commented on #282
I'll buy a beer for whoever implements this :beers:

[2015-03-20 05:37] hhaidar commented on #282
@geoffwhittington lol @sibartlett is going to expect his beer tomorrow

[2015-03-20 05:43] hhaidar commented on #367
Strange indeed. Seems like some dependencies are still missing :(

Try `npm install rsvp` and see if it runs. If not, give upgrading npm a shot via `npm install -g npm`

[2015-03-20 05:44] hhaidar commented on #367
Also it's not recommended to run this as root!

[2015-03-20 09:15] Fibrewire commented on #349
That resolved the issue, thank you very much @geoffwhittington

[2015-03-20 11:07] powange commented on #282
+1

[2015-03-20 11:16] powange commented on #198
+1

[2015-03-20 11:49] dsaard commented on #282
+1

[2015-03-20 12:00] TEugen commented on #282
@hhaidar I'll throw in a beer in too! If @sibartlett gets it done soon

[2015-03-20 13:11] geoffwhittington commented on #349
Awesome! thanks for checking in

[2015-03-20 13:12] #366 closed

[2015-03-20 16:31] AdrianTeng commented on #282
+1

[2015-03-20 17:17] xyc commented on #282
+1 beer :smiley:

[2015-03-20 17:18] geoffwhittington commented on #282
@sibartlett is English so he can handle a lot of beer

[2015-03-20 18:40] geoffwhittington commented on #176
One implementation idea is to write a Hubot adapter and hook it up to another recognition-tracking system:

http://developers.7geese.com/pages/intro/intro.html

[2015-03-20 18:58] geoffwhittington commented on #182
This is sort of a different feature....

It would be cool if plugins could expose their own slash commands and take input from the message entry window. If Lets Chat could also expose plugin preferences to users then slash actions would be done in the context of different identities - not just one Hubot.

[2015-03-21 01:41] ff- commented on #282
+1

[2015-03-21 14:21] maximilian-krauss commented on #354
Hi there,
I built a proof of concept image proxy inside lets-chat which handles all non-https image links (only if the lets-chat-instance is served over SSL). That would avoid mixed content warnings ...
What do you guys think? @hhaidar @sibartlett
Is this the right way to go or do you have other ideas?

[2015-03-21 19:15] bnvk commented on #4
There is [libravatar.org](https://www.libravatar.org/) which is a more open Gravatar

You could also make a tool that allows ppl to input their Twitter @handle or Facebook username and then it goes and pulls in that avatar!

[2015-03-21 20:44] geoffwhittington commented on #354
I can't respond to the style/design of the implementation.

If the goal is to eliminate the mixed content warning on your browser this code will probably work. If the goal is to only request images that are sent via https then an alternative implementation would be needed.

[2015-03-22 13:10] bnvk opened #369 "Improve UI feedback of failed file uploads due to unallowed format"
Currently the web UI fails when a user tries to upload a file in this way:

![screen shot 2015-03-21 at 5 40 15 pm](https://cloud.githubusercontent.com/assets/48677/6769151/bf7718ba-d08f-11e4-812b-3434e98ff905.png)

I consider this a usability "bug" as it is really unhelpful to the user... Was my file too big? Am I not allowed to upload in general? Is uploading broken in general? Or is the file fo

[2015-03-22 13:22] bnvk commented on #246
This would be a super duper transport IMHO. I've been using and experimenting with the [Shout IRC client](https://github.com/erming/shout) web client which is quite nice, but has a full interface similar to Let's Chat already.

However, Shout is based on top of [Slate IRC](https://github.com/slate/slate-irc) which seems to be a lighter weight IRC lib in node.js... which *might* be the best compone

[2015-03-22 13:39] dfyx commented on #246
@bnvk I think you got it the wrong way around. This issue is about allowing IRC clients to connect to Let's Chat while Slate IRC is a library for building clients.

[2015-03-22 14:38] chiel1980 commented on #354
I guess it won’t even work since some url’s don’t offer a HTTPS version.
A https proxy to fix the mixed content would be the best solution I guess.

Michiel

[2015-03-22 17:40] bnvk commented on #246
@dfyx ah ok. I see what you mean, I might be thinking "my implementation needs" more than that of the project! Is that the same thing re: the Jabber integration that current exists? It's not so much a jabber client, as a Jabber server?

[2015-03-23 00:46] geoffwhittington commented on #354
I think we'd want to turn this into a plugin, rather than merge into the base code. That being said, I'm not sure how we do that

@sibartlett @hhaidar want to chime in here?

[2015-03-23 08:27] npotier commented on #315
+1

[2015-03-23 11:06] paundl commented on #363
up!
upload is not working...

[2015-03-23 11:46] Shelnutt2 opened #370 "Route does not forward after login"
If you open a link directly so a room i.e. https://example.com/#!/room/5610f3a75438d2cb0c80b8aa, after login you are taken to the main page not the room. The route should forward and after login be taken directly to the specified room.

[2015-03-24 06:56] fallacy321 commented on #367
Hi @macbroadcast since you are using ubuntu 14.04, try $sudo npm update rsvp
Let me know if you are able to fix it ?

[2015-03-24 07:11] fallacy321 commented on #68
Infact this is one of the idea to be accomplished this summer under @tonghuix  [1]
[1] http://labs.fossasia.org/ideas.html#Self-hosted Online communities Communication with OTR encryption

[2015-03-24 07:50] fallacy321 opened #373 "Added reset option when adding a room"
Reset option can help the user in case the user accidentally fills the textbox incorrectly.

I have pushed the changes to my forked repo of lets-chat. Let me know if I should merge it yet[1]

Regards

[1]https://github.com/fallacy321/lets-chat/commit/54bafb0e5c6d0c5bbaff164391fa72a891395d33

[2015-03-24 15:21] tonghuix commented on #373
I suppose it could replaced by a pic?

[2015-03-24 15:37] fallacy321 commented on #373
@tonghuix You mean a screenshot, right?

[2015-03-24 16:21] fallacy321 commented on #373
Attached is the screenshot of reset option
![reset_room](https://cloud.githubusercontent.com/assets/3140219/6806627/d4719222-d26f-11e4-85c9-024e8589a28d.png)

[2015-03-24 16:48] macbroadcast commented on #367
I tryed anything, installed all the missing modules , rsvp and underscore but it end up with "Error: Cannot find module './lib/' " I have the same problem with another installation, works fine on my local ubuntu 14.10 but failed on digital ocean droplet with 14.04 LTS

[2015-03-24 17:01] tonghuix commented on #373
er...I fount it provide a close [x] button on the top right corner, so that you don't need reset user's config. If some one want to reset, just close that window

[2015-03-24 17:35] fallacy321 commented on #373
Yeah, that could be the alternative as well. But then one has to close it and again click on + to add the room, using reset one has to click on reset and thats all. But since both are fine, reset seems to be redundant now. Thanks for the suggestion :)

[2015-03-24 18:03] hhaidar commented on #367
@macbroadcast what version of npm are you running now?

[2015-03-24 18:08] macbroadcast commented on #367
@hhaidar  npm version 2.7.3

[2015-03-24 18:24] hhaidar commented on #367
@macbroadcast yea I'm really not sure what's going on :(

Maybe one last shot:

[code]

[2015-03-24 18:48] macbroadcast commented on #367
Tried removing the node_modules/ npm remove /clean cache and with non-root, thanks for your help , i give up for now.
[code]

[2015-03-24 20:12] funkaoshi commented on #373
Yeah, i'm going to close this. We have our UX person looking at the project in his spare time, so expect UX improvements in the future. The extra button that is likely to be rarely used seems like a distraction.

[2015-03-24 20:12] #373 closed

[2015-03-24 20:26] maximilian-krauss commented on #354
@geoffwhittington Why do you think that should be a plugin only? I think this is a core feature though.

When using hubot for example it's kinda impossible to stick with https-only images. I'm evaluating lets-chat for our team at work and "killed" the SSL connection a several times by trying our some hubot commands.

I did some research and slack uses the same technique to maintain a secure connec

[2015-03-24 21:08] geoffwhittington commented on #354
My first thought was this should be a plugin because people may want to do different things with data:

- whitelist/blacklist links based on endpoint
- whitelist/blacklist content
- rewrite links to a "you are about to view a link outside the org"
- perform some action based on data
- etc.

Due to the above I figured anything different from the normal pipeline might become a plugin/prioritized act

[2015-03-25 02:02] bnvk commented on #351
I'm going to take a stab at implementing this. Wish me luck. Any pointers are welcome ;)

[2015-03-25 06:23] necramirez commented on #367
[code]
^ this looks strange, no?  Did you accidentally Ctrl-C or something?

[2015-03-25 06:29] necramirez commented on #367
I did the same commands you did on my Ubuntu 14.04.2 LTS, and I was able to `npm install` successfully as non-root user.

[2015-03-25 15:27] funkaoshi commented on #351
That was the royal "we". @hhaidar can point you in the right direction.

[2015-03-25 16:32] chiel1980 opened #374 "Long shot: create client for Andoid and iOS"
I know this is not a bug and perhaps a long shot but it would really help to further promote this tool if a client is available for Android and iOS.
All the other slack wannabe's have it and I must say that the browser on my phone is not ideal - it works but logging in does not work 100% => whenever I fill in my credentials and press Login, the screen is enlarged where I pressed and then I have to

[2015-03-25 19:44] funkaoshi commented on #374
Someone is actually working on an Android application right now, though it's probably more likely that you would use an existing XMPP / Jabber client to connect to LCB.

[2015-03-25 19:47] chiel1980 commented on #374
An xmpp client is not the same but I hope a native lets-chat app will arise
soon.
Can I follow its progress somewhere?

Sent with AquaMail for Android
http://www.aqua-mail.com

On 25 maart 2015 20:44:57 Ramanan Sivaranjan <notifications@github.com> wrote:

[2015-03-25 20:10] funkaoshi commented on #374
@chiel1980 we would love mobile clients as well, but it's basically work someone else can probably do external to us. The APIs to talk to the server are well documented.

[2015-03-25 20:14] geoffwhittington commented on #374
Native mobile Lets Chat :+1:
Someone else writing it :+1:

@chiel1980 Thanks for the idea - I am going to close this issue (The implementation would have to live in another repo even if we were going to do it anyways)

[2015-03-25 20:14] #374 closed

[2015-03-26 04:57] hobarrera commented on #216
A Telepathy plugin might cover several scenarios: several desktop clients can pick it up, and several mobile OSs use Telepathy as well.

[2015-03-26 05:32] hobarrera opened #375 "Dependency icu is not listed"
The installation guide lists node.js, mongodb and python2 as the only dependencies. ICU is also required to run npm install successfully:

[code]

[2015-03-26 12:59] web-vision opened #376 "XMPP not running"
Hello,

I'm trying to get XMPP running with let's chat. I am using vagrant on a mac and my settings.yml looks like this:

env: production # development / production

http:
  enable: true
  host: 'localhost'
  port: 5000

https:
  enable: false
  port: 5001
  key: key.pem
  cert: certificate.pem

files:
  enable: true
  provider: local
  local:
    dir: uploads

xmpp:
  enable: true
  host: 'localh

[2015-03-26 17:34] Peque commented on #367
@macbroadcast: I managed to make it work in Ubuntu 14.04.2 LTS server, installing a more recent version of Node.js with a PPA maintained by NodeSource.

    curl -sL https://deb.nodesource.com/setup | sudo bash -
    sudo apt-get install nodejs

[2015-03-26 18:24] sibartlett opened #377 "Giphy support"
We need the ability to search and send GIFs directly from the web interface.

Giphy has an [API](https://api.giphy.com/).

[2015-03-26 18:24] emintham commented on #377
:up: :boat:

[2015-03-26 19:01] fallacy321 opened #378 "Make the login fields - Username/Email and Password as required"
It would be nice to have the login fields - Username/Email and Password as required for validation.
Here is my commit for the same [1].
Let me know the feedbacks :+1:

One more doubt I have, to contribute to lets-chat, should I do the pull request directly or raise a issue at first?

[1]https://github.com/fallacy321/lets-chat/commit/443ba94d4b63ae151cfc1ddae00e919fd8ef0131

![validate](https://clo

[2015-03-26 20:35] sibartlett commented on #377
DONE! :tada:

[2015-03-26 20:35] #377 closed

[2015-03-26 20:50] macbroadcast commented on #367
@Peque Thank you very much ! i will try on the weekend.

[2015-03-26 21:02] hhaidar commented on #377
We don't need this ability.

What have you done...

![image](https://cloud.githubusercontent.com/assets/1066160/6856975/e8c99218-d3d9-11e4-9fb9-26dd3dc6f6f1.png)

[2015-03-26 21:05] hhaidar commented on #378
They're already required via js

[2015-03-26 21:05] #378 closed

[2015-03-26 21:07] hhaidar commented on #375
What platform is this?

[2015-03-26 21:10] #335 closed

[2015-03-26 21:22] hobarrera commented on #375
OpenBSD:

    # uname -a
    OpenBSD elysion.barrera.io 5.7 GENERIC.MP#895 amd64

I already had icu installed on my other test system (ArchLinux) and uninstalling it would have broken my installation, so I can't confirm if it's necessary (or not) on other platforms.

[2015-03-27 00:49] geoffwhittington commented on #377
@hhaidar see what happens when you give away the keys to the car?

[2015-03-27 01:49] lorieri opened #379 "crash if email is empty in LDAP"
if the email (mail field) is empty the app crashes

[2015-03-27 01:55] hhaidar commented on #379
Hey @lorieri, do you mind opening an issue directly in https://github.com/sdelements/lets-chat-ldap?

[2015-03-27 01:55] #379 closed

[2015-03-27 03:36] necramirez opened #380 "Unable to log in to XMPP client with LDAP auth"
I'm on latest `master` of both `lets-chat` and `lets-chat-ldap`. This is my XMPP and LDAP config:
[code]

1. I can login successfully on the web app using my LDAP creds.
2. I try to login using Pidgin with:
    * Protocol:  XMPP
    * Username:  (my uid)
    * Domain:  (same domain as in XMPP config)
    * Port:  5222
    * Connect server:  (same domain as in XMPP config)
3. I get a prompt to Ente

[2015-03-27 05:32] lorieri commented on #379
no, sure

[2015-03-27 10:55] jangrewe commented on #218
+1

I was just about to open an identical Feature Request, with these two requirements:
- Restrict sign-up to a list(!) of domains
- Require email verification

[2015-03-27 10:57] geir54 opened #381 "porting to angular"
Any interest in porting the front end to angular? This would make it easier to contribute. I could probably get this work started if there is interest?

[2015-03-27 11:00] jangrewe commented on #198
+1 for passworded
+0.5 for invite-only

[2015-03-27 11:26] necramirez commented on #381
I wouldn't want this.

[2015-03-27 13:49] fallacy321 opened #382 "Added slug along with the name for better understanding"
For displaying the list at the tab, it would be better to display slug along with name as shown in the attached screenshot

Here is my commit for the same:
https://github.com/fallacy321/lets-chat/commit/ea14cd6f3d361a14e6b4b75cd4149fde064fa087

![slug](https://cloud.githubusercontent.com/assets/3140219/6868982/3c0a7636-d4b6-11e4-8ca5-d87ee441fde5.png)

[2015-03-27 13:55] geoffwhittington commented on #382
This change is probably useful in the context of your data but it doesn't work for everyone. For our deployment we have slugs that look like "54bff621a1e1aedf3ccd41e4".

My suggestion is that if your room names don't have enough information - update your room names. What do your room names/slugs mean?

[2015-03-27 13:59] fallacy321 commented on #382
Hi @geoffwhittington

Isnt 54bff621a1e1aedf3ccd41e4 is perhaps the slug id {{id}} . I instead of displaying just name, displayed it like - {{name}} at {{slug}} and not {{name}} at {{id}}
What do you mean by not enough information? As slug is a required field on add a room I think ?

Regards

[2015-03-27 14:00] geoffwhittington commented on #381
@geir54 I don't understand - what you want to accomplish with a port to angular? The current code works and it would be an epic change - providing us no immediate benefit.

[2015-03-27 14:05] geoffwhittington commented on #382
@fallacy321 You're right, slugs could have more information - ours happen to be id's.

What do you make your room and slug entry fields mean? You propose to concatenate room and slug with " at " - which implies that your data actually makes sense with " at ". The front-end makes no assumption about the two fields. Room title is a title, and Slug is some unique identifier for the room.

For example

[2015-03-27 14:08] pathetiq opened #383 "Crash when OTR is enable in a chat room"
Hi guys,

lets chat will crash if OTR is enabled in a public room with an XMPP client.
Client used: profanity
Version use: develop branches 0.3.8

The crash seems to simply doesn't handle when user_id is null.

Crash info:
/usr/local/lets-chat-develop/app/xmpp/msg-processors/user-message.js:36
                user: user._id,
                          ^
TypeError: Cannot read property '_id' of null

[2015-03-27 14:11] geoffwhittington commented on #383
thanks @pathetiq ! We'll take a look

[2015-03-27 14:22] geir54 commented on #381
I just personally like working with angular and feel it would be easier to contribute new “modular” futures.

[2015-03-27 15:41] sibartlett commented on #383
@pathetiq I tried to reproduce the issue. I added some error-handling, so you could try the latest code on develop? If it persists, could you provide the exact Profanity command you're using to start the OTR conversation?

[2015-03-27 15:54] funkaoshi commented on #381
I don't think we'll ever do this.

[2015-03-27 15:54] #381 closed

[2015-03-27 15:59] sibartlett commented on #380
@necramirez the problem is that the search filter is not compatible with how the XMPP works. Change it to the following:

[code]

This will allow you to:
* login to the web interface using your UID (instead of mail)
* login to XMPP with uid@chat.company.com

[2015-03-27 16:43] funkaoshi commented on #377
This is the worst merge request ever.

[2015-03-27 16:44] funkaoshi commented on #378
Seems like there isn't harm also doing it via HTML5?

[2015-03-27 16:45] mikeohara commented on #198
Invite only would be interesting. How would that workflow work?
IRC style? url token? or still utilizing a password?

Unlisted rooms could also be useful as a derivative of this. (do not show up on the master list, require an invite or knowledge of the link).

I also wonder about "Off the Record" rooms that do not store transcripts.

[2015-03-27 16:45] funkaoshi commented on #378
@fallacy321 It's probably fine to open pull requests directly, and we can comment on the code, and accept or reject.

[2015-03-28 14:49] #376 closed

[2015-03-29 16:30] fallacy321 commented on #378
Thanks @funkaoshi I have already submitted a pull requested :)

[2015-03-30 08:58] necramirez commented on #380
That's too bad.  I don't want to use UIDs to login, because our company directory uses serial numbers for UID, it would just feel so unnatural.

Just curious about why "the search filter is not compatible with how the XMPP works":  Does it not support the special characters in an email address ("@", ".")?

[2015-03-30 09:38] necramirez commented on #380
Just confirmed it. "@" does not work.

Given the "uid@chat.company.com" format, if I pass use my email address as username, Pidgin itself breaks the "myemail@mycompany.com@chat.company.com" string into:
* username = "myemail"
* domain = "mycompany.com@chat.company.com"

So I tried to URL-encode my email address into "myemail%40mycompany.com", and `passport-ldapauth` simply passes it directly to th

[2015-03-30 16:15] sibartlett commented on #380
@necramirez I think we can come up with a better solution. If I create a branch for this, would you be willing to test it? I think we may be able to have it so you can use your email as your username, but you'll need to specify chat.company.com as the XMPP server.

[2015-03-30 16:55] geoffwhittington opened #385 "Unexpected room change on pressing backspace"
When the focus is on a chat message (not the message entry) and backspace is pressed - there is an unexpected room change. I trigger this a few times a day.

This is on develop branch

[2015-03-30 16:59] sibartlett commented on #385
Backspace is the browser shortcut for going to the previous page in your history - in this case the previous room you were in. Not sure if we should try overriding the browser's default behaviour?

[2015-03-30 17:01] geoffwhittington commented on #385
Ha! yes, you're right. That's annoying.

[2015-03-30 17:01] #385 closed

[2015-03-30 17:05] sibartlett commented on #385
Yeah, that shortcut has always bothered me. Maybe no one did UX back when they came up with that!

[2015-03-30 18:51] pathetiq commented on #383
Seems to work thanks! :)

[2015-03-30 19:50] necramirez commented on #380
How is that different from how it is now? :p

But, yeah, I'm willing to test.

[2015-03-31 03:44] tatsuhirosatou commented on #377
@sibartlett Is this code implmemented? If it is not merged to the project I would merge it to my own version. It would be great to have this feature.

[2015-03-31 06:19] jpdribbler opened #386 "XEP-0313: Message Archive Management"
Hello guys,

Lets chat is the best looking and user-friendliest web chat i have ever seen, i really love it. But is it possible to implement XEP-0313? Then it would be possible to use the chat on a mobile phone as well (Android with conversations supports MAM)

Message Archive features described in:
XEP-0136: Message Archiving
XEP-0313: Message Archive Management

What do you think about this?

Th

[2015-03-31 09:52] ff- commented on #216
+1 for a Mobile App packaged maybe with Apache Cordova.

[2015-03-31 14:09] funkaoshi commented on #377
It's in the development branch of Let's Chat.

[2015-03-31 14:11] #383 closed

[2015-03-31 16:49] geoffwhittington opened #387 "Sticky Desktop notifications for unmentioned messages"
Sometimes I get desktop message notifications that don't go away when I am not mentioned

Branch: develop
Browser: Chrome (Windows)

[2015-03-31 16:51] emintham commented on #387
Aha! I thought I was the only one with this problem!

[2015-03-31 16:58] hhaidar commented on #387
@emintham ya I knew you weren't crazy all along ;)

[2015-03-31 17:00] emintham commented on #387
#overly-attached-bug-reporter

[2015-03-31 17:15] sibartlett commented on #380
Could you try this branch: https://github.com/sdelements/lets-chat/tree/fix/380_xmpp_email_login

###### Example

If:

* your company's email domain is: @company.com
* your Let's Chat host is: chat@company.com

Configure XMPP like:

[code]

Then, login with:

Username: <user>@company.com
XMPP Server: chat.company.com

[2015-03-31 21:27] funkaoshi commented on #387
I see it too.

[2015-04-01 03:38] tatsuhirosatou commented on #377
@funkaoshi Is the develop branch usable?

[2015-04-01 06:13] necramirez commented on #380
I'm testing on my local machine, with this XMPP config:
[code]
My Pidgin account setup is, assuming my email is "my_email@my.company.com":
[code]
I can now login!

However, Pidgin is stuck connecting. This also appears in the console log:
[code]
I reverted to my hack (with `decodeURIComponent()` in `passport-ldapauth`) and I can login, and get this in the console log:
[code]
So now I understand wh

[2015-04-01 11:43] sibartlett commented on #380
@necramirez the xmpp.host setting was supposed to be set to your email domain, not localhost. As follows:

[code]

[2015-04-01 20:03] tatsuhirosatou opened #388 "Socket IO errors with Heroku deploy"
I used the one click deploy to heroku. It worked well for a bit, but now I just can't stop getting socket.io errors. Any has any ideas?

[code]

[code]

[2015-04-02 02:51] necramirez commented on #380
Just tested that, and it works!  I think this is a useful option.  It'll be safe to merge this, I think.

Though, honestly, it still won't work in our case, since we have geography-based subdomains: user1@us.company.com, then user2@uk.company.com, etc.  That means, I can only configure Let's Chat XMPP for only one country.

In any case, thanks for thinking about this.  :-)

[2015-04-02 11:40] stefanoco commented on #216
Why not the existing XMPP clients (iOS / Android)? Do they work with Let's Chat?

[2015-04-02 13:03] funkaoshi commented on #377
That's what we use internally at SD Elements. So it's stable, but we normally recommend people use master for their 'production' set ups.

[2015-04-02 15:05] tatsuhirosatou commented on #377
Thank you! I will give it a try then.

[2015-04-03 07:33] fallacy321 commented on #382
@geoffwhittington Hi, I meant name and slug as the fields one provides while adding a room. so wont <name> at <slug> be useful?

[2015-04-03 09:51] xhs commented on #198
+1 for invite-only room

[2015-04-03 20:19] necramirez commented on #382
The term slug came from newspaper publishing:
http://en.m.wikipedia.org/wiki/Slug_(publishing) -- being a short name it
clearly meant it wasn't really used side-by-side with the actual title, but
only as a substitute.

In web publishing (see Slug section,
http://en.m.wikipedia.org/wiki/Slug_(web_publishing) ), it generally became
a URL-friendly form of a title, stripping punctuations, common artic

[2015-04-03 22:06] sibartlett commented on #380
@necramirez thanks for the update! I won't merge that fix right away, instead I'll take some time to think whether there's a better way to handle your use-case.

[2015-04-03 22:09] sibartlett commented on #382
@fallacy321 yep, @necramirez's explanation above is correct.

A slug is a short URL friendly version of the room's name.

We currently use it in hashtags and XMPP. In the future, we may also change the web-client to use slug in the URL instead of ID.

[2015-04-03 22:11] necramirez commented on #380
IMO, I think that the fix should really be with passport-ldapauth,
especially now that the author is already considering decodeURIComponent as
an option. Once that's actually done there, then lets-chat only needs to
make use of that option.

[2015-04-04 03:06] dequis opened #390 "Initial MUC presence uses nickname@host instead of username@host for the user who is entering"
When joining a channel, the client sends a presence message with its desired nickname, and gets back from the server several presence replies, the last of which should contain the JID of the client itself, confirming that the join is complete. However, instead of using a normal `username@host` JID, lets-chat takes the nickname sent by the client and turns it into a (likely to be non-existent) JID

[2015-04-06 00:42] ajuste commented on #387
I'm having the issue when I get mentioned. Going to give it a check.

[2015-04-06 00:42] ajuste commented on #387
Or that's kind of the idea?

[2015-04-06 01:45] geoffwhittington commented on #387
Yes when you're mentioned the notifications are meant to be sticky

[2015-04-06 01:55] geoffwhittington commented on #282
This is a first, someone has posted a bounty:

https://www.bountysource.com/issues/8741867-add-support-for-1-1-chat

[2015-04-06 09:29] fmvilas commented on #282
I placed $15 more because I don't have too much time right now.

[2015-04-06 10:09] ajuste commented on #387
Got it!

El dom., 5 de abril de 2015 22:45, geoffwhittington <
notifications@github.com> escribió:

[2015-04-06 18:50] sibartlett commented on #390
@dequis can you try the latest code? thanks!

[2015-04-06 18:52] sibartlett commented on #380
@necramirez can you try the latest code again? I think it might work for your scenario - with the multiple email domains. This time I changed the value of xmpp.username should be "full" instead of "email", so your configuration would be like:

[code]

[2015-04-06 20:56] dequis commented on #390
Hey! Thanks! It's an improvement - the bug I originally reported is certainly fixed.

However after more testing I found another related issue that was preventing the join from getting detected. You send `<presence type="result" ...>` and we explicitly check for presence stanzas with no type attribute.

(I couldn't figure out where in your code that was getting added, so instead i modified it thro

[2015-04-06 21:04] sibartlett commented on #390
@dequis that should also now be fixed!

[2015-04-06 21:22] dequis commented on #390
:heart:

It works!

Feel free to close this

[2015-04-06 21:23] sibartlett commented on #390
@dequis thanks for reporting the issue and helping debug it :smile:

[2015-04-06 21:23] #390 closed